input[type=range] {
  height: 22px;
  -webkit-appearance: none;
  margin: 10px 0;
  background-color: transparent;
  border-color: transparent;
}
input[type=range]:focus {
  border: inherit;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #137cbd;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background: #394B59;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #137cbd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #137cbd;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background: #394B59;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #137cbd;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #137cbd;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background: #394B59;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #137cbd;
}
input[type=range]:focus::-ms-fill-upper {
  background: #137cbd;
}
