
/* Blueprint dark theme */

$secondary: #394b59;

$theme-colors: (
  primary: #137cbd,
  secondary: $secondary,
  success: #0f9960,
  warning: #d9822b,
  danger: #db3737,
  dark: #394b59
);

$body-bg: #202b33;
$text-muted: #bfccd6;
$link-color: #48aff0;
$link-hover-color: #48aff0;
$text-color: #f5f8fa;
$pre-color: $text-color;
$navbar-dark-color: rgb(245, 248, 250);
$popover-bg: $secondary;

@import "node_modules/bootstrap/scss/bootstrap";

.btn.active:not(.disabled),
.btn.active.minimal:not(.disabled) {
  background-color: rgba(138, 155, 168, .3);
  color: #f5f8fa;
}

a.minimal,
button.minimal {
  background: none;
  border: none;
  color: $text-color;
  transition: none;

  &:hover {
    background: rgba(138, 155, 168, .15);
    color: $text-color;
  }

  &:active {
    background: rgba(138, 155, 168, .3);
    color: $text-color;
  }
}

.dropdown-toggle::after {
  content: none;
}

nav .svg-inline--fa {
  margin-right: 7px;
}

.nav-tabs {
  border-bottom-color: gray;

  .nav-link.active {
    border-color: gray;
    border-bottom-color: transparent;
    color: $text-color;

    &:hover {
      cursor: default;
    }
  }
}

hr {
  margin: 5px 0;
}

.table {
  border: none;

  thead {
    th {
      border: none;
    }
  }

  td {
    a {
      color: $text-color;
    }
  }
}

.popover {
  max-width: inherit;
}
