/* Blueprint dark theme */

$secondary: #394b59;
$muted-gray: #bfccd6;
$success: #0f9960;
$warning: #d9822b;
$danger: #db3737;

$theme-colors: (
  primary: #137cbd,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  dark: #394b59,
);

$body-bg: #202b33;
$text-muted: $muted-gray;
$link-color: #48aff0;
$link-hover-color: $link-color;
$text-color: #f5f8fa;
$pre-color: $text-color;
$navbar-dark-color: rgb(245, 248, 250);
$popover-bg: $secondary;
$dark-text: #182026;
$textfield-bg: rgba(16, 22, 26, 0.3);
$card-bg: #30404d;
$card-cap-bg: rgba(#000, 0.03);

@import "node_modules/bootstrap/scss/bootstrap";

$red1: #a82a2a;
$orange1: #a66321;
$sepia1: #63411e;
$dark-gray2: #202b33;
$dark-gray5: #394b59;

.btn.active:not(.disabled),
.btn.active.minimal:not(.disabled) {
  background-color: rgba(138, 155, 168, 0.3);
  color: $text-color;
}

a.minimal,
button.minimal {
  background: none;
  border: none;
  color: $text-color;
  transition: none;

  &:disabled {
    background: none;
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    background: rgba(138, 155, 168, 0.15);
    color: $text-color;
  }

  &:active:not(:disabled) {
    background: rgba(138, 155, 168, 0.3);
    color: $text-color;
  }
}

hr {
  margin: 5px 0;
}

:not(.show-carat) > .dropdown-toggle::after {
  content: none;
}

.nav-link {
  color: $text-color;
}

.nav-tabs {
  border: none;
  margin: auto;
  margin-bottom: 1.5rem;

  .nav-link {
    border: none;
    color: $text-color;
    padding: 8px;

    &.active {
      border-bottom: 2px solid;
      color: $link-color;

      &:hover {
        border-bottom-color: $link-color;
        cursor: default;
      }
    }

    &:hover {
      border-bottom: 2px solid white;
    }
  }
}

.tab-content {
  padding-bottom: 2rem;
}

.table-striped tr:nth-child(odd) td {
  background: rgba(92, 112, 128, 0.15);
}

.table {
  border: none;
  color: $text-color;

  thead {
    th {
      border-bottom: 1px solid #414c53;
      border-right: none;
      border-top: none;
    }
  }

  td {
    border: none;
    border-color: #414c53;
    padding: 0.25rem 0.75rem;
  }
}

.popover {
  max-width: inherit;
}

.card {
  border: none;
  margin: 5px;
  overflow: hidden;
}

.form-control {
  &-plaintext {
    color: $text-color;
    margin: 0;
    padding: 0;

    option {
      color: black;
    }

    &::placeholder {
      color: transparent;
    }

    &:hover {
      cursor: default;
    }
  }
}

.popover {
  &-body {
    color: $text-color;

    .btn {
      color: $text-color;
    }
  }
}

.modal {
  color: $text-color;

  .close {
    color: $text-color;
  }

  &-header,
  &-body,
  &-footer {
    background-color: $card-bg;
    color: $text-color;
  }

  &-content {
    background-color: transparent;
  }
}
