.group-card {
  width: 240px;

  @media (max-width: 576px) {
    width: 100%;
  }

  &.card {
    padding: 0 0 1rem;
  }

  &-image {
    object-fit: contain;
    width: 100%;
  }

  .group-scene-number {
    text-align: center;
  }

  &__details {
    margin-bottom: 1rem;
  }
}

.group-images {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;

  .group-image-container {
    box-shadow: none;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

#group-page .rating-number .text-input {
  width: auto;
}

.group-select-option {
  .group-select-row {
    align-items: center;
    display: flex;
    width: 100%;

    .group-select-image {
      background-color: $body-bg;
      margin-right: 0.4em;
      max-height: 50px;
      max-width: 89px;
      object-fit: contain;
      object-position: center;
    }

    .group-select-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-height: 4.1rem;
      overflow: hidden;

      .group-select-title {
        flex-shrink: 0;
        white-space: pre-wrap;
        word-break: break-all;

        .group-select-alias {
          font-size: 0.8rem;
          font-weight: bold;
        }
      }

      .group-select-date,
      .group-select-studio {
        color: $text-muted;
        flex-shrink: 0;
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
