.bp3-popover-content {
  padding: 10px;
  max-width: 33vw;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bp3-select-popover .bp3-menu {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
  padding: 0;
}

.bp3-multi-select-popover .bp3-menu {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
  padding: 0;
}

.filter-container .bp3-portal {
  position: relative;
}