<a [routerLink]="['/performers', performer.id]" class="image previewable" style="width: 75px;">
  <img [src]="performer.image_path" />
</a>
<div class="content">
  <div class="ui header">
    <div class="ui heart rating">
      <i class="icon" [class.active]="performer.favorite"></i>
    </div>
    {{performer.name}} <span *ngIf="performer.birthdate">- {{performer.birthdate | age}}</span>
    <span *ngIf="performer.aliases" class="sub header">({{performer.aliases}})</span>
  </div>
  <div *ngIf="performer.country" class="meta">Country: {{performer.country}}</div>
  <div *ngIf="performer.measurements" class="meta">Measurements: {{performer.measurements}}</div>

  <div *ngIf="performer.scene_count > 0" class="meta">
    <button class="ui inverted mini basic button" (click)="toggleScenes()">
      {{performer.scene_count}} scenes
    </button>
  </div>
  <div [suiCollapse]="!showingScenes">
    <div class="extra content">
      <div class="header">Sample Scenes</div>
      <div class="ui equal width grid" style="margin: 0; align-items: center; overflow: hidden;">
        <div *ngFor="let scene of scenes" class="column" style="padding: 0;">
          <a [routerLink]="['/scenes', scene.id]">
            <img class="ui image" style="max-height: 100%;" [src]="scene.paths.webp" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>