.LoadingIndicator {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    width: 100%;

    &-message {
        margin-top: 1rem;
    }

    .spinner-border {
        height: 3rem;
        width: 3rem;
    }
}
