.tagger-container {
  max-width: 1400px;
  min-width: 1200px;
}

.search-result {
  padding: .5rem 0;

  &:hover {
    background-color: #495b68;
    cursor: pointer;
  }
}

.selected-result {
  background-color: #495b68;
  border-radius: 3px;

  &:hover {
    cursor: default;
  }
}

.scene-select {
  &:hover {
    cursor: pointer;
  }
}

.scene-image {
  max-height: 10rem;
  max-width: 14rem;
  padding: 0 1rem;
}

.scene-metadata {
  margin-right: 1rem;
  width: calc(100% - 17rem);
}

.select-existing {
  width: 2rem;
}

.performer-select,
.studio-select {
  width: 14rem;
}

.entity-name {
  flex: 1;
  margin-right: auto;
}
