.tagger-container {
  max-width: 1600px;

  .tagger-container-header {
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 0;
  }

  .scene-card {
    position: relative;
  }

  .scene-card-preview {
    border-radius: 3px;
    margin-bottom: 0;
    max-height: 100px;
    overflow: hidden;
    width: 150px;

    &-video {
      background-color: #495b68;
    }
  }

  .sprite-button {
    bottom: 5px;
    filter: drop-shadow(1px 1px 1px #222);
    padding: 0;
    position: absolute;
    right: 5px;
  }

  .sub-content {
    min-height: 1.5rem;
  }
}

.tagger-table {
  overflow: visible;
}

.search-item {
  background-color: #495b68;
  border-radius: 3px;
  padding: 1rem;

  .scene-details {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    width: 100%;
  }

  .original-scene-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.search-result {
  background-color: rgba(61, 80, 92, 0.3);
  padding: 1rem 0;

  &:hover {
    background-color: hsl(204, 20%, 30%);
    cursor: pointer;
  }

  .performer-select,
  .studio-select {
    width: 14rem;

    // stylelint-disable-next-line selector-class-pattern
    &-active .react-select__control {
      background-color: #137cbd;
    }
  }

  .SceneTaggerIcon {
    margin-left: 0.25em;
    margin-right: 10px;
    width: var(--fa-fw-width, 1.25em);
  }
}

.selected-result {
  background-color: hsl(204, 20%, 30%);
  border-radius: 3px;

  &:hover {
    cursor: default;
  }
}

.scene-select {
  &:hover {
    cursor: pointer;
  }
}

.scene-image {
  max-height: 10rem;
  max-width: 14rem;
  min-width: 168px;
  object-fit: contain;
}

.scene-metadata {
  margin-left: 1rem;
}

.select-existing {
  width: 2rem;
}

.entity-name {
  flex: 1;
  margin-right: auto;
}

.scene-link {
  color: $text-color;
  font-weight: 500;
}

.performer-create-modal {
  font-size: 1.2rem;
  max-width: 800px;

  .image-selection {
    height: 450px;
    text-align: center;

    .performer-image {
      height: 85%;
      position: relative;

      &-exclude {
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .LoadingIndicator {
    height: 100%;
  }

  &-field {
    margin-bottom: 5px;

    .btn {
      margin-right: 5px;
    }

    .fa-icon {
      width: 12px;
    }
  }

  &-value ul {
    font-size: 0.8em;
    list-style-type: none;
    padding-inline-start: 0;
  }
}

.PerformerTagger {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;

  &-header {
    color: white;

    &:hover {
      color: white;
    }
  }

  &-performer {
    background-color: #495b68;
    border-radius: 3px;
    display: flex;
    margin: 1rem;
    max-width: 100%;
    padding: 1rem;

    .performer-card {
      flex-shrink: 0;
      width: 12rem;

      img {
        height: 100%;
        max-height: 18rem;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  &-details {
    flex-grow: 1;
    margin-left: 1rem;
    width: 24rem;
  }

  &-performer-search {
    display: flex;
    flex-wrap: wrap;

    &-item {
      align-items: center;
      display: flex;
      overflow: hidden;
      text-align: left;
    }
  }

  &-thumb {
    height: 40px;
    margin-right: 10px;
  }

  &-box-link {
    margin-bottom: 5px;

    .input-group-text {
      font-family: monospace;
    }
  }
}

.studio-create-modal {
  font-size: 1.2rem;
  max-width: 800px;

  .image-selection {
    text-align: center;

    .studio-image {
      height: 85%;
      position: relative;

      &-exclude {
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .LoadingIndicator {
    height: 100%;
  }

  &-field {
    margin-bottom: 5px;

    .btn {
      margin-right: 5px;
    }

    .fa-icon {
      width: 12px;
    }
  }
}

.StudioTagger {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;

  &-header {
    color: white;

    &:hover {
      color: white;
    }
  }

  &-studio {
    background-color: #495b68;
    border-radius: 3px;
    display: flex;
    margin: 1rem;
    max-width: 100%;
    padding: 1rem;

    .studio-card {
      box-shadow: none;
      flex-shrink: 0;
      margin: 0;
      padding: 0;

      img {
        background-color: #495b68;
        max-height: 150px;
        object-fit: contain;
        vertical-align: middle;
        width: 100%;
      }
    }
  }

  &-details {
    //flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    width: 24rem;
  }

  &-details-image {
    vertical-align: bottom;
  }

  &-details-text {
    vertical-align: bottom;
  }

  &-studio-search {
    display: flex;
    flex-wrap: wrap;

    &-item {
      align-items: center;
      display: flex;
      overflow: hidden;
      text-align: left;
    }
  }

  &-thumb {
    height: 40px;
    margin-right: 10px;
  }

  &-box-link {
    margin-bottom: 5px;

    .input-group-text {
      font-family: monospace;
    }
  }
}

.FieldSelect {
  .fa-icon {
    width: 12px;
  }
}

.include-exclude-button {
  display: inline-block;
  margin-right: 0.38em;
  padding: 0.2em;
}

li:not(.active) {
  .include-exclude-button {
    // visibility: hidden;
    display: none;
  }

  .scene-image {
    padding-left: 1rem;
  }
}

.optional-field {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

li.active .optional-field.missing .optional-field-content {
  color: #bfccd6;
}

li.active .optional-field.excluded .optional-field-content,
li.active .optional-field.excluded .scene-link {
  color: #bfccd6;
  text-decoration: line-through;

  img {
    opacity: 0.5;
  }
}

// li.active .scene-image-container {
//   margin-left: 1rem;
// }

.tagger-container {
  .scene-details,
  .original-scene-details {
    margin-top: 0.5rem;

    > .row {
      width: 100%;
    }
  }
}

.PHashPopover {
  display: inline-block;
  text-decoration: underline dotted;
}
