.vjs-marker-dot {
  position: absolute;
  background-color: #10b981;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transform: translate(-50%, -50%);
  top: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.vjs-marker-dot:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.vjs-marker-range {
  position: absolute;
  background-color: rgba(0, 255, 255, 0.4);
  height: 8px;
}


.contained-marker-range {
  background-color: rgba(59, 130, 246, 0.4);
  z-index: 0;
  transform: translateY(-15px);
}

.marker-time-label {
  position: absolute;
  font-size: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 4px;
  border-radius: 2px;
  transform: translateY(-100%);
  white-space: nowrap;
  z-index: 2;
}
