$scrubberHeight: 120px;
$menuHeight: 4rem;
$sceneTabWidth: 450px;

#jwplayer-container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{$menuHeight});
  padding-bottom: 0.25rem;

  @media (min-width: 1200px) {
    height: 100vh;
  }

  & video:focus {
    outline: 0;
  }

  /* stylelint-disable */
  .jw-video {
    // #1764 - jwplayer sets object-fit: fit in the style. Need to override it.
    object-fit: contain !important;
  }
  /* stylelint-enable */

  .video-wrapper {
    height: 56.25vw;

    @media (min-width: 1200px) {
      height: 100%;
    }
  }

  &.portrait .video-wrapper {
    height: 177.78vw;
  }

  .jwplayer {
    outline: none;
  }
}

.scene-tabs,
.scene-player-container {
  padding-left: 15px;
  position: relative;
  width: 100%;
}

.scene-player-container {
  padding-right: 15px;
}

@media (max-width: 1199px) {
  .scene-tabs {
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .scene-tabs {
    flex: 0 0 $sceneTabWidth;
    max-width: $sceneTabWidth;
    overflow: auto;

    &.collapsed {
      display: none;
    }

    .tab-content {
      flex: 1 1 auto;
      min-height: 15rem;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .scene-divider {
    flex: 0 0 15px;
    max-width: 15px;

    button {
      background-color: transparent;
      border: 0;
      color: $link-color;
      cursor: pointer;
      font-size: 10px;
      font-weight: 800;
      height: 100%;
      line-height: 100%;
      padding: 0;
      text-align: center;
      width: 100%;

      &:active:not(:hover),
      &:focus:not(:hover) {
        background-color: transparent;
        border: 0;
        box-shadow: none;
      }
    }
  }

  .scene-player-container {
    flex: 0 0 calc(100% - #{$sceneTabWidth} - 15px);
    max-width: calc(100% - #{$sceneTabWidth} - 15px);
    padding-left: 0;

    &.expanded {
      flex: 0 0 calc(100% - 15px);
      max-width: calc(100% - 15px);
    }
  }
}

.scrubber-wrapper {
  flex-shrink: 0;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
}

.hide-scrubber .scrubber-wrapper {
  display: none;
}

/* hide scrubber when height is < 450px or width < 576 */
@media (max-height: 449px), (max-width: 575px) {
  .scrubber-wrapper {
    display: none;
  }
}

#scrubber-back {
  float: left;
}

#scrubber-forward {
  float: right;
}

.scrubber-button {
  background-color: transparent;
  border: 1px solid #555;
  color: $link-color;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  height: 100%;
  line-height: $scrubberHeight;
  padding: 0;
  text-align: center;
  width: 1.5%;
}

.scrubber-content {
  cursor: grab;
  display: inline-block;
  height: $scrubberHeight;
  margin: 0 0.5%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  -webkit-user-select: none;
  width: 96%;

  &.dragging {
    cursor: grabbing;
  }
}

#scrubber-position-indicator {
  background-color: #ccc;
  height: 20px;
  left: -100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

#scrubber-current-position {
  background-color: #fff;
  height: 30px;
  left: 50%;
  position: absolute;
  width: 2px;
  z-index: 1;
}

.scrubber-viewport {
  height: 100%;
  overflow: hidden;
  position: static;
}

.scrubber-slider {
  height: 100%;
  left: 0;
  position: absolute;
  transition: 333ms ease-out;
  width: 100%;
}

.scrubber-tags {
  height: 20px;
  margin-bottom: 10px;
  position: relative;

  &-background {
    background-color: #555;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.scrubber-tag {
  background-color: #000;
  cursor: pointer;
  font-size: 10px;
  padding: 0 10px;
  position: absolute;
  white-space: nowrap;

  &:hover {
    background-color: #444;
    z-index: 1;
  }

  &::after {
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px #000;
    bottom: -5px;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
  }
}

.scrubber-item {
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  margin-right: 10px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px black;

  &-time {
    align-self: flex-end;
    display: inline-block;
    width: 100%;
  }
}
