.gallery-card {
  &.card {
    padding: 0;
    padding-bottom: 1rem;
  }

  .card-section {
    margin-top: auto;
  }

  &-image {
    object-fit: contain;
  }
}

.gallery-image {
  &:hover {
    cursor: pointer;
  }
}
