.image-header {
  flex-basis: auto;
  margin-top: 30px;
}

#image-details-container {
  .tab-content {
    min-height: 15rem;
  }

  .image-description {
    width: 100%;
  }
}

.image-card {
  &.card {
    overflow: hidden;
    padding: 0;
  }

  .rating-banner {
    transition: opacity 0.5s;
  }

  &-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;

    &-image {
      height: 100%;
      object-fit: contain;
      object-position: top;
      width: 100%;
    }

    &.portrait {
      .image-card-preview-image {
        object-fit: contain;
      }
    }
  }

  &:hover {
    .rating-banner {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
}

.image-tabs {
  max-height: calc(100vh - 4rem);

  overflow-wrap: break-word;
  word-wrap: break-word;
}

$imageTabWidth: 450px;

@media (min-width: 1200px) {
  .image-tabs {
    flex: 0 0 $imageTabWidth;
    max-width: $imageTabWidth;
    overflow: auto;

    &.collapsed {
      display: none;
    }
  }

  .image-divider {
    flex: 0 0 15px;
    max-width: 15px;

    button {
      background-color: transparent;
      border: 0;
      color: $link-color;
      cursor: pointer;
      font-size: 10px;
      font-weight: 800;
      height: 100%;
      line-height: 100%;
      padding: 0;
      text-align: center;
      width: 100%;

      &:active:not(:hover),
      &:focus:not(:hover) {
        background-color: transparent;
        border: 0;
        box-shadow: none;
      }
    }
  }

  .image-container {
    flex: 0 0 calc(100% - #{$imageTabWidth} - 15px);
    max-width: calc(100% - #{$imageTabWidth} - 15px);

    &.expanded {
      flex: 0 0 calc(100% - 15px);
      max-width: calc(100% - 15px);
    }
  }
}

.image-tabs,
.image-container {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.image-container {
  display: flex;

  img {
    max-height: calc(100vh - 4rem);
    max-width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 1200px) {
  .image-container {
    height: calc(100vh - 4rem);
  }
}
@media (min-width: 1200px), (max-width: 575px) {
  .image-performers {
    .performer-card {
      width: 15rem;

      &-image {
        height: 22.5rem;
      }
    }
  }
}

#image-edit-details {
  .rating-stars {
    font-size: 1.3em;
    height: calc(1.5em + 0.75rem + 2px);
  }
}

.image-file-card.card {
  margin: 0;
  padding: 0;

  .card-header {
    cursor: pointer;
  }

  dl {
    margin-bottom: 0;
  }
}
