@import "styles/theme";
@import "styles/range";
@import "styles/scrollbars";
@import "styles/variables";
@import "./components/**/*.scss";

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: $pt-navbar-height 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: $pt-grid-size $pt-grid-size 0 0;
  padding: 0;

  &.wall {
    margin: 0;
    padding: 0;
  }

  & .performer-list-thumbnail {
    height: 100px;
    min-width: 50px;
  }

  & .scene-list-thumbnail {
    min-height: 50px;
    width: 150px;
  }

  table td {
    text-align: center;
    vertical-align: middle;
  }

  .card {
    margin: 0 0 10px 10px;
    overflow: hidden;
    width: 20rem;

    &.zoom-0 {
      width: 15rem;

      .previewable {
        max-height: 11.25rem;
      }

      .previewable.portrait {
        max-height: 11.25rem;
      }
    }
    &.zoom-1 {
      width: 20rem;

      .previewable {
        max-height: 15rem;
      }

      .previewable.portrait {
        height: 15rem;
      }
    }
    &.zoom-2 {
      width: 30rem;

      .previewable {
        max-height: 22.5rem;
      }

      .previewable.portrait {
        height: 22.5rem;
      }
    }
    &.zoom-3 {
      width: 40rem;

      .previewable {
        max-height: 30rem;
      }

      .previewable.portrait {
        height: 30rem;
      }
    }

    .card-select {
      margin-top: -12px;
      opacity: .5;
      padding-left: 15px;
      position: absolute;
      width: 1.2rem;
      z-index: 1;
    }
  }
}

.previewable {
  display: block;
  line-height: 0;
  margin: -20px 0 0 -20px;
  max-height: 240px;
  overflow: hidden;
  position: relative;
  width: calc(100% + 40px);
}

.previewable.portrait {
  height: 240px;
}

.video-container {
  height: 100%;
  width: 100%;
}

video.preview {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

video.preview.portrait {
  height: 100%;
  width: auto;
}

.filter-item,
.operation-item {
  margin: 0 10px;
}

.edit-button {
  margin-right: 10px;
}

.tag-item {
  background-color: #bfccd6;
  color: #182026;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px;
  padding: 2px 6px;

  &:hover {
    cursor: pointer;
  }

  .btn {
    background: none;
    border: none;
    bottom: 2px;
    color: #182026;
    font-size: 12px;
    line-height: 1rem;
    margin-left: .5rem;
    opacity: .5;
    padding: 0;
    position: relative;

    &:active,
    &:hover {
      opacity: 1;
    }
  }

  a {
    color: unset;

    &:hover {
      color: unset;
      text-decoration: none;
    }
  }
}

.filter-container,
.operation-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.card-section {
  padding: 10px 0 0 0;

  &.centered {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
}

.rating-5 {
  background: #FF2F39;
}

.rating-4 {
  background: $red1;
}

.rating-3 {
  background: $orange1;
}
.rating-2 {
  background: $sepia1;
}

.rating-1 {
  background: $dark-gray5;
}

.rating-banner {
  color: #fff;
  display: block;
  font-size: .86rem;
  font-weight: 400;
  left: -46px;
  letter-spacing: 1px;
  line-height: 1.6rem;
  padding: 6px 45px;
  position: absolute;
  text-align: center;
  text-size-adjust: none;
  top: 14px;
  transform: rotate(-36deg);
}

.scene-specs-overlay {
  bottom: 1rem;
  color: #f5f8fa;
  display: block;
  font-weight: 400;
  letter-spacing: -.03rem;
  position: absolute;
  right: .7rem;
  text-shadow: 0 0 3px #000;
}

.scene-studio-overlay {
  display: block;
  font-weight: 900;
  height: 20%;
  opacity: .75;
  position: absolute;
  right: .7rem;
  top: .7rem;
  width: 40%;
  z-index: 9;

  a {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    color: #f5f8fa;
    display: inline-block;
    height: 100%;
    letter-spacing: -.03rem;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 0 3px #000;
    width: 100%;
  }
}

.overlay-resolution {
  font-weight: 900;
  margin-right: .3rem;
  text-transform: uppercase;
}

.scene-card {
  .scene-specs-overlay,
  .rating-banner,
  .scene-studio-overlay {
    transition: opacity .5s;
  }
}

.scene-card:hover {
  .scene-specs-overlay,
  .rating-banner,
  .scene-studio-overlay {
    opacity: 0;
    transition: opacity .5s;
  }

  .scene-studio-overlay:hover {
    opacity: .75;
    transition: opacity .5s;
  }
}

#jwplayer-container {
  margin: 10px auto;
  width: 75%;
}

.video-js {
  height: 90vh;
  width: 100%;
}

#details-container {
  margin: 10px auto;
  width: 75%;
}

.pre {
  white-space: pre-line;
}

.logs {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: smaller;
  max-height: 100vh;
  overflow-y: auto;
  padding-right: 10px;
  white-space: pre-wrap;
  width: 120ch;
  word-break: break-all;

  .debug {
    color: lightgreen;
    font-weight: bold;
  }

  .info {
    color: white;
    font-weight: bold;
  }

  .warning {
    color: orange;
    font-weight: bold;
  }

  .error {
    color: red;
    font-weight: bold;
  }
}

.studio {
  .image {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 100px;
  }
}

.react-photo-gallery--gallery {
  img {
    object-fit: contain;
  }
}

#parser-container {
  margin: 10px auto;
  width: 75%;

  .inputs label {
    width: 12rem;
  }

  .scene-parser-results {
    overflow-x: auto;
  }

  .scene-parser-row .parser-field-title input {
    width: 50ch;
  }

  .scene-parser-row .parser-field-date input {
    width: 13ch;
  }

  .scene-parser-row .parser-field-performers input {
    width: 20ch;
  }

  .scene-parser-row .parser-field-tags input {
    width: 20ch;
  }

  .scene-parser-row .parser-field-studio input {
    width: 15ch;
  }

  .scene-parser-row input {
    min-width: 10ch;
  }

  .scene-parser-row div:first-child > input {
    margin-bottom: 5px;
  }
}

.aliases-field > label {
  font-weight: 300;
}

.scene-cover {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
}

.collapsible-label {
  cursor: pointer;
}

.label-icon {
  margin-right: .3rem;
  vertical-align: middle;

  + span {
    vertical-align: middle;
  }
}

.main {
  color: #f5f8fa;
}

.table {
  color: #f5f8fa;
  width: inherit;
}

.table td {
  border: none;
}

.table-striped tbody tr:nth-child(odd) td {
  background: rgba(92, 112, 128, .15);
}

.tab-pane {
  margin-top: 20px;
}

.card {
  background-color: #30404d;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, .4), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
  padding: 20px;
}

.toast-container {
  left: 45%;
  max-width: 350px;
  position: fixed;
  top: 2rem;
  z-index: 1031;

  .toast {
    width: 350px;
  }
}

.button-link {
  background-color: transparent;
  border-width: 0;
  color: #48aff0;
  cursor: pointer;
  display: inline;
  padding: 0;
}

.button-link:hover {
  text-decoration: underline;
}

.scrubber-button {
  background-color: transparent;
  color: #48aff0;
}

.scrubber-button:hover {
  text-decoration: underline;
}

/* BOOTSTRAP OVERRIDES */
.form-control {
  width: inherit;

  &-plaintext {
    color: $text-color;

    &::placeholder {
      color: transparent;
    }

    &:hover {
      cursor: default;
    }
  }
}

.popover {
  &-body {
    .btn {
      color: $text-color;
    }
  }
}

.modal {
  .modal-body,
  .modal-footer {
    background-color: rgb(235, 241, 245);
  }
}

.image-input {
  margin-bottom: 0;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}

.tab-content {
  padding-bottom: 2rem;
}
