<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Stash</title>
    </head>
    <body>
		<div id="root" className="Stash"></div>
    </body>
</html>
