@import "styles/theme";
@import "styles/range";
@import "styles/scrollbars";
@import "src/components/Galleries/styles.scss";
@import "src/components/List/styles.scss";
@import "src/components/Performers/styles.scss";
@import "src/components/Scenes/styles.scss";
@import "src/components/SceneFilenameParser/styles.scss";
@import "src/components/ScenePlayer/styles.scss";
@import "src/components/Settings/styles.scss";
@import "src/components/Studios/styles.scss";
@import "src/components/Shared/styles.scss";
@import "src/components/Tags/styles.scss";
@import "src/components/Wall/styles.scss";

html {
  font-size: 14px;
}

body {
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 4rem 0 0 0;

  @media (min-width: 600px) {
    min-width: 845px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.table-list table {
  width: inherit;
}

.table-list td,
.table-list th {
  border-left: 1px solid #414c53;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;

  h5,
  h6 {
    font-size: 1rem;
  }

  &:first-child {
    border-left: none;
  }
}

@media (min-width: 576px) {
  .zoom-0 {
    width: 15rem;
  }

  .zoom-1 {
    width: 20rem;
  }

  .zoom-2 {
    width: 30rem;
  }

  .zoom-3 {
    width: 40rem;
  }
}

.scene-card-video {
  height: auto;
  width: 100%;

  .zoom-0 {
    height: 11.25rem;
  }

  .zoom-1 {
    height: 15rem;
  }

  .zoom-2 {
    height: 22.5rem;
  }

  .zoom-3 {
    height: 30rem;
  }
}

.image-thumbnail {
  height: 100px;
  min-width: 50px;
  object-fit: cover;
  object-position: top;
}

.card-image {
  height: 30rem;
  min-width: 11.25rem;
  width: 20rem;
}

.edit-button {
  margin-right: 10px;
}

.tag-item {
  background-color: $muted-gray;
  color: $dark-text;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px;
  padding: 2px 6px;

  &:hover {
    cursor: pointer;
  }

  .btn {
    background: none;
    border: none;
    bottom: 2px;
    color: $dark-text;
    font-size: 12px;
    line-height: 1rem;
    margin-left: .5rem;
    opacity: .5;
    padding: 0;
    position: relative;

    &:active,
    &:hover {
      opacity: 1;
    }
  }

  a {
    color: unset;

    &:hover {
      color: unset;
      text-decoration: none;
    }
  }
}

.filter-container,
.operation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}

.filter-item,
.operation-item {
  margin: 0 10px;
}

.rating-5 {
  background: #ff2f39;
}

.rating-4 {
  background: $red1;
}

.rating-3 {
  background: $orange1;
}

.rating-2 {
  background: $sepia1;
}

.rating-1 {
  background: $dark-gray5;
}

.rating-banner {
  color: #fff;
  display: block;
  font-size: .86rem;
  font-weight: 400;
  left: -46px;
  letter-spacing: 1px;
  line-height: 1.6rem;
  padding: 6px 45px;
  position: absolute;
  text-align: center;
  text-size-adjust: none;
  top: 14px;
  transform: rotate(-36deg);
}

.card {
  background-color: #30404d;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, .4), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
  padding: 20px;
}

.toast-container {
  left: 45%;
  max-width: 350px;
  position: fixed;
  top: 2rem;
  z-index: 1031;

  .success {
    background-color: $success;
  }

  .danger {
    background-color: $danger;
  }

  .warning {
    background-color: $warning;
  }

  .toast {
    width: 350px;
  }

  .toast-header {
    background-color: transparent;
    border: none;
    color: $text-color;

    .close {
      color: $text-color;
      text-shadow: none;
    }
  }
}

.image-input {
  margin-bottom: 0;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  [type=file] {
    display: block;
    filter: alpha(opacity=0);
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

    &:hover {
      cursor: pointer;
    }

  }
}

.fa-icon {
  margin: 0 .4rem;
}

.btn .fa-icon {
  &:last-child:first-child {
    margin: 0;
  }
}

.brand-icon {
  padding: 3px 6px;

  img {
    height: 1.5rem;
  }
}

.top-nav {
  padding: .25rem 1rem;

  .nav-link {
    padding: 0;
  }

  .btn {
    white-space: nowrap;
  }

  @media (max-width: 576px) {
    .btn {
      padding: 6px;
    }
  }
}

.error-message {
  white-space: "pre-wrap";
}

.stats {
  .title {
    font-size: 3vw;
    text-align: center;
  }

  .heading {
    text-align: center;
    text-transform: uppercase;
  }
}
