// hide nsfw elements when in sfw-content mode
// stylelint-disable selector-class-pattern
.sfw-content-mode {
  // hide adult-oriented performer fields in sort by select
  .sort-by-select,
  .performer-table {
    [data-value="ethnicity"],
    [data-value="hair_color"],
    [data-value="eye_color"],
    [data-value="measurements"],
    [data-value="weight"],
    [data-value="weight_kg"],
    [data-value="penis_length"],
    [data-value="penis_length_cm"],
    [data-value="circumcised"],
    [data-value="fake_tits"] {
      display: none;
    }
  }

  .performer-table {
    td,
    th {
      &.ethnicity,
      &.hair_color,
      &.eye_color,
      &.height,
      &.measurements,
      &.weight_kg,
      &.penis_length_cm,
      &.circumcised,
      &.fake_tits {
        &-head,
        &-data {
          display: none;
        }
      }
    }
  }

  #performer-edit,
  &.scrape-dialog {
    [data-field="ethnicity"],
    [data-field="hair_color"],
    [data-field="eye_color"],
    [data-field="measurements"],
    [data-field="weight"],
    [data-field="penis_length"],
    [data-field="circumcised"],
    [data-field="fake_tits"],
    [data-field="tattoos"],
    [data-field="piercings"] {
      display: none;
    }
  }

  &.edit-filter-dialog {
    [data-type="ethnicity"],
    [data-type="hair_color"],
    [data-type="eye_color"],
    [data-type="measurements"],
    [data-type="weight"],
    [data-type="penis_length"],
    [data-type="circumcised"],
    [data-type="fake_tits"],
    [data-type="tattoos"],
    [data-type="piercings"] {
      display: none;
    }
  }

  #performer-page {
    .detail-item.ethnicity,
    .detail-item.hair_color,
    .detail-item.eye_color,
    .detail-item.measurements,
    .detail-item.weight,
    .detail-item.penis_length,
    .detail-item.circumcised,
    .detail-item.fake_tits,
    .detail-item.tattoos,
    .detail-item.piercings {
      display: none;
    }
  }
}
