#performer-details {
  .scrape-url-button {
    color: $text-color;
    float: right;
    margin-right: 0.5rem;
  }
}

#performer-page {
  margin: 10px auto 0;
  max-width: 1600px;

  &.grid{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .performer-image {
    grid-row: 1 / 3;
    cursor: pointer;
    max-width: 50vw;
    max-height: 70vh;
    object-fit: contain;
    object-position: top;
  }

  .performer-head {

    .name-icons {
      margin-left: 10px;

      .not-favorite {
        color: rgba(191, 204, 214, 0.5);
      }

      .favorite {
        color: #ff7373;
      }

      .link {
        color: rgb(191, 204, 214);
      }

      .instagram {
        color: pink;
      }
    }
  }

  .performer-tabs{
    @media (max-width: 767px) {
      grid-column: 1 / 3;
    }
  }

  .alias {
    font-weight: bold;
  }
}

.new-view {
  margin-bottom: 2rem;

  .photo {
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
  }
}

.card {
  &.performer-card {
    padding: 0 0 1rem 0;
  }
}
