#performer-page {
  .performer-image-container {
    .btn {
      box-shadow: none;
    }

    .performer {
      max-height: calc(100vh - 6rem);
      max-width: 100%;
    }
  }

  .content-container {
    padding-bottom: 10px;
  }

  .performer-head {
    display: inline-block;
    vertical-align: top;

    .name-icons {
      .not-favorite {
        color: rgba(191, 204, 214, 0.5);
      }

      .favorite {
        color: #ff7373;
      }

      .instagram {
        color: pink;
      }
    }

    .rating-number .form-control {
      width: inherit;
    }
  }

  .alias {
    font-weight: bold;
  }
}

.new-view {
  margin-bottom: 2rem;

  .photo {
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
  }
}

.performer-card {
  width: 20rem;

  @media (max-width: 576px) {
    width: 100%;
  }

  .thumbnail-section {
    position: relative;
  }

  &-image {
    aspect-ratio: 2/3;
    min-width: 11.25rem;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

  .fi {
    bottom: 1rem;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
    height: 2rem;
    position: absolute;
    right: 1rem;
    width: 3rem;
  }

  button.btn.favorite-button {
    padding: 0;
    position: absolute;
    right: 5px;
    top: 10px;

    svg.fa-icon {
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    }
  }

  &:hover button.btn.favorite-button.not-favorite {
    opacity: 1;
  }

  &__age {
    color: $muted-gray;
  }

  // allow country string to be shown, but disable by default
  &__country-string {
    display: none;
  }
}

.card {
  &.performer-card {
    padding: 0 0 1rem 0;
  }
}

.scrape-dialog .performer-image {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
}

#performer-scraper-popover {
  z-index: 1;
}

.PerformerScrapeModal {
  &-list {
    list-style: none;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-inline-start: 0;

    li {
      cursor: pointer;
    }
  }
}

.flex-aligned {
  align-items: center;
  column-gap: 0.5rem;
  display: flex;
}

.fa-mars {
  color: #89cff0;
}

.fa-venus {
  color: #f38cac;
}

.fa-transgender-alt {
  color: #c8a2c8;
}

.performer-height .height-imperial,
.performer-weight .weight-imperial,
.performer-penis-length .penis-length-imperial {
  &::before {
    content: " (";
  }

  &::after {
    content: ")";
  }
}

.penis-circumcised {
  &::before {
    content: " ";
  }
}

.favourite-data .favorite {
  color: #ff7373;
}

.performer-table .height-imperial,
.performer-table .weight-imperial,
.performer-table .penis-length-imperial,
.performer-disambiguation {
  color: $text-muted;
  font-size: 0.875em;
}

.performer-table .age-data span {
  border-bottom: 1px dotted #f5f8fa;
}

.performer-result .performer-details > span {
  &::after {
    content: " • ";
  }

  &:last-child::after {
    content: "";
  }
}

.performer-select-option {
  .performer-select-row {
    align-items: center;
    display: flex;
    width: 100%;

    .performer-select-image {
      margin-right: 0.4em;
      max-height: 50px;
      max-width: 50px;
    }

    .performer-select-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-height: 4.1rem;
      overflow: hidden;

      .performer-select-name {
        flex-shrink: 0;
        white-space: pre-wrap;
        word-break: break-all;

        .performer-select-alias {
          font-size: 0.8rem;
          font-weight: bold;
        }
      }

      .performer-select-disambiguation,
      .performer-select-birthdate {
        color: $text-muted;
        flex-shrink: 0;
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.edit-performers-dialog .modal-body {
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  padding-right: 1.5rem;
}
