@import "IdentifyDialog/styles.scss";

.dialog-selected-folders {
  & > div {
    display: flex;
    justify-content: space-between;
  }
}

.form-group {
  h6,
  label {
    &[title]:not([title=""]) {
      cursor: help;
      text-decoration: underline dotted;
    }
  }
}
