.wall-overlay {
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  transition: transform .5s ease-in-out;
}
.visible {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
.hidden {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.visible-unanimated {
  opacity: 1;
}
.hidden-unanimated {
  opacity: 0;
}


.double-scale {
  position: absolute;
  z-index: 2;
  transform: scale(2);
  background-color: black;
}

.double-scale img {
  opacity: 0;
}

.scene-wall-item-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .5s;
  max-height: 253px;
}

.scene-wall-item-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.scene-wall-item-text-container {
  position: absolute;
  font-weight: 700;
  color: #444;
  padding: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.65));
  overflow: hidden;
  text-align: center;

  & span {
    line-height: 1;
    font-weight: 400;
    font-size: 10px;
    margin: 0 3px;
  }
}

.scene-wall-item-blur {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.wall-item video, .wall-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wall-item {
  width: 20%;
  padding: 0 !important;
  line-height: 0;
  overflow: visible;
  position: relative;
}
