<div class="simple-modal-container" [style.display]="showingMarkerList ? 'block' : 'none'">
  <div class="simple-modal-content">
    <table class="ui very basic celled table">
      <thead>
        <tr>
          <th (click)="sortMarkers('title')">Title</th>
          <th (click)="sortMarkers('count')">Scene Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marker of markerOptions">
          <td><a (click)="onClickMarker(marker)">{{marker.title}}</a></td>
          <td>{{marker.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="wall grid">
  <form id="scene-filter" class="ui inverted smassive form">
    <div class="ui inverted massive fluid transparent icon input">
      <input [formControl]="searchFormControl" name="q" placeholder="Search..." type="text">
      <i class="search icon"></i>
      <button  (click)="refresh()" class="ui button" style="margin: 5px 5px;">Refresh</button>
      <button *ngIf="mode == WallMode.Markers" (click)="toggleMarkerList()" class="ui button" style="margin: 5px 5px;">List Markers</button>
      <button (click)="toggleMode()" class="ui button" style="margin: 5px 50px 5px 5px;">{{mode == WallMode.Scenes ? 'Scenes' : 'Markers'}}</button>
    </div>
  </form>

  <div class="ui five column grid" style="margin: 0;">
    <div *ngFor="let item of items" class="wall column">
      <app-scene-wall-item *ngIf="mode == WallMode.Markers" [marker]="item"></app-scene-wall-item>
      <app-scene-wall-item *ngIf="mode == WallMode.Scenes" [scene]="item"></app-scene-wall-item>
    </div>
  </div>
</div>