<pagination-template #p="paginationApi" (pageChange)="pageChange.emit($event)" class="ui center aligned container">
  <nav class="ui inverted pagination menu">
    <a *ngIf="directionLinks && !p.isFirstPage()" class="item" title="First" (click)="p.setCurrent(1)">
      <i class="fast backward icon"></i>
    </a>
    <a *ngIf="directionLinks && !p.isFirstPage()" class="item" title="Previous" (click)="p.previous()">
      <i class="left arrow icon"></i>
    </a>
    <a *ngFor="let page of p.pages" (click)="p.setCurrent(page.value)" class="item" [class.active]="p.getCurrent() === page.value">
      <span>{{ page.label }}</span>
    </a>
    <a *ngIf="directionLinks && !p.isLastPage()" class="item" title="Next" (click)="p.next()">
      <i class="right arrow icon"></i>
    </a>
    <a *ngIf="directionLinks && !p.isLastPage()" class="item" title="Last" (click)="p.setCurrent(p.getLastPage())">
      <i class="fast forward icon"></i>
    </a>
  </nav>
</pagination-template>