# Universal Settings
COMPOSE_HTTP_TIMEOUT=60
DOCKERCONFDIR=~/.docker/config
DOCKERGID=999
# DOCKERHOSTNAME=DockSTARTer
DOCKERLOGGING_MAXFILE=10
DOCKERLOGGING_MAXSIZE=200k
# DOCKERSHAREDDIR=~/.docker/config/shared
DOWNLOADSDIR=/mnt/downloads
# MEDIADIR_AUDIOBOOKS=/mnt/medialibrary/audiobooks
# MEDIADIR_BOOKS=/mnt/medialibrary/books
# MEDIADIR_COMICS=/mnt/medialibrary/comics
# MEDIADIR_MOVIES=/mnt/medialibrary/movies
# MEDIADIR_MUSIC=/mnt/medialibrary/music
# MEDIADIR_TV=/mnt/medialibrary/tv
MEDIADIR_STASH=/mnt/medialibrary/stash
PGID=1000
PUID=1000
TZ=America/Chicago

### STASH
STASH_ENABLED=false
STASH_BACKUP_CONFIG=true
STASH_NETWORK_MODE=
STASH_PORT_8096=8096
STASH_PORT_8920=8920
