.logs {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: smaller;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 1rem;
  white-space: pre-wrap;

  .debug {
    color: lightgreen;
    font-weight: bold;
  }

  .info {
    color: white;
    font-weight: bold;
  }

  .warning {
    color: orange;
    font-weight: bold;
  }

  .error {
    color: red;
    font-weight: bold;
  }
}

.log-time {
  margin-right: 1rem;
}

#configuration-tabs-tabpane-about .table {
  width: initial;
}

#configuration-tabs-tabpane-tasks h5 {
  margin-bottom: 1em;
}

.scraper-table {
  display: block;
  margin-bottom: 16px;
  overflow: auto;
  width: 100%;

  tr {
    border-top: 1px solid #181513;

    &:nth-child(2n) {
      background-color: #2c3b47;
    }
  }

  th,
  td {
    border: 1px solid #181513;
    padding: 6px 13px;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}

.warnings-table {
  table-layout: fixed;

  &-scene {
    width: 40%;
  }

  &-type {
    width: 12rem;
  }
}
