<a [routerLink]="['/performers', performer.id]" class="performer image" [style.background-image]="'url(' + performer.image_path + ')'"></a>
<div class="content">
  <div class="header">
    <div class="ui heart rating">
      <i class="icon" [class.active]="performer.favorite"></i>
    </div>
    {{performer.name}}
  </div>
  <div class="meta">
    <div *ngIf="!!performer.birthdate" class="item">
      <span *ngIf="!!ageFromDate" class="date">{{performer.birthdate | age: ageFromDate}} years old in this scene.</span>
      <span *ngIf="!!ageFromDate === false" class="date">{{performer.birthdate | age}} years old.</span>
    </div>
    <div class="item">
      <span>Stars in {{performer.scene_count}} scenes.</span>
    </div>
  </div>
</div>