@import "~normalize.css";

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/grid/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/components/level";

@import "styles/form/grid";

@import "styles/shared/details";

@import "styles/blueprint-overrides";
@import "styles/scrollbars";

body {
  margin: 0;
  padding: $pt-navbar-height 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: $dark-gray2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: $pt-grid-size $pt-grid-size 0 0;
  padding: 0 calc(10%);

  &.wall {
    padding: 0;
    margin: 0;
    position: relative;
  }

  & .bp3-button.favorite .bp3-icon {
    color: #ff7373 !important
  }

  & .performer-list-thumbnail {
    min-width: 50px;
    height: 100px;
  }

  & .scene-list-thumbnail {
    width: 150px;
    min-height: 50px;
  }

  & table td {
    text-align: center;
    vertical-align: middle;
  }
}

.grid-item {
  // flex: auto;
  width: calc(25% - 1.5em);
  min-width: 185px;
  margin: 0px 0 $pt-grid-size $pt-grid-size;
  overflow: hidden;

  &.wall {
    width: calc(20%);
    margin: 0;
    position: static;
  }
}

.previewable {
  display: block;
  line-height: 0;
  overflow: hidden;
  width: calc(100% + 40px);
  margin: -20px 0 0 -20px;
  position: relative;
}

.grid-item label.card-select {
  position: absolute;
  padding-left: 15px;
  margin-top: -12px;
  z-index: 9;
  opacity: 0.5;
}

video.preview {
  // height: 225px; // slows down the page
  width: 100%;
  // width: calc(100% + 40px);
  // margin: -20px 0 0 -20px;
  object-fit: cover;
}

.filter-item, .operation-item {
  margin: 0 10px;
}

.edit-button {
  margin-right: 10px;
}

.tag-item {
  margin: 5px;

  a {
    color: unset;

    &:hover {
      text-decoration: none;
      color: unset;
    }
  }
}

.filter-container, .operation-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.card-section {
  padding: 10px 0 0 0;
  &.centered {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }
}

.rating-5 { background: #FF2F39; }
.rating-4 { background: $red1; }
.rating-3 { background: $orange1; }
.rating-2 { background: $sepia1; }
.rating-1 { background: $dark-gray5; }

.rating-banner {
  transform: rotate(-36deg);
  display: block;
  padding: 6px 45px;
  font-weight: 400;
  top: 14px;
  position: absolute;
  left: -46px;
  color: #fff;
  letter-spacing: 1px;
  text-size-adjust: none;
  font-size: .85714em;
  line-height: 1.6em;
  text-align: center;
}

#jwplayer-container {
  margin: 10px auto;
  width: 75%;
}

.video-js {
  width: 100%;
  height: 90vh;
}

#details-container {
  margin: 10px auto;
  width: 75%;
}

.pre {
  white-space: pre-line;
}

.logs {
  white-space: pre-wrap;
  word-break: break-all;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: smaller;
  padding-right: 10px;
  overflow-y: auto;
  max-height: 100vh;
  width: 120ch;

  .debug {
    color: lightgreen;
    font-weight: bold;
  }

  .info {
    color: white;
    font-weight: bold;
  }

  .warning {
    color: orange;
    font-weight: bold;
  }

  .error {
    color: red;
    font-weight: bold;
  }
}

span.block {
  display: block;
}

.performer.image {
  height: 50vh;
  min-height: 400px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.studio.image {
  height: 100px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.no-spacing {
  padding: 0;
  margin: 0;
}

.react-photo-gallery--gallery {
  & img {
    object-fit: contain;
  }
}

#tag-list-container {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & .tag-list-row {
    margin: 10px;
    cursor: pointer;

    & .bp3-button {
      margin: 0 10px;
    }
  }

  & .tag-list-row:hover {
    text-decoration: underline;
  }
}

#parser-container {
  margin: 10px auto;
  width: 75%;

  & .inputs label {
    width: 12em;
  }
  
  & .inputs .bp3-input-group {
    width: 80ch;
  }

  & .scene-parser-results {
    overflow-x: auto;
  }
  
  & .scene-parser-row .bp3-checkbox {
    margin: 0px -20px 0px 0px;
  }
  
  & .scene-parser-row .parser-field-title input {
    width: 50ch;
  }

  & .scene-parser-row .parser-field-date input {
    width: 13ch;
  }

  & .scene-parser-row .parser-field-performers input {
    width: 20ch;
  }

  & .scene-parser-row .parser-field-tags input {
    width: 20ch;
  }

  & .scene-parser-row .parser-field-studio input {
    width: 15ch;
  }
  
  & .scene-parser-row input {
    min-width: 10ch;
  }
  
  & .scene-parser-row .bp3-form-group {
    margin-bottom: 0px;
  }
  
  & .scene-parser-row div:first-child > input {
    margin-bottom: 5px;
  }

}
