@import "~normalize.css";

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/grid/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/components/level";

@import "styles/form/grid";

@import "styles/shared/details";

@import "styles/blueprint-overrides";
@import "styles/scrollbars";

body {
  margin: 0;
  padding: $pt-navbar-height 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: $dark-gray2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: $pt-grid-size $pt-grid-size 0 0;
  padding: 0 100px;

  &.wall {
    padding: 0;
    margin: 0;
  }

  & .bp3-button.favorite .bp3-icon {
    color: #ff7373 !important
  }

  & .performer-list-thumbnail {
    min-width: 50px;
    height: 100px;
  }

  & .scene-list-thumbnail {
    width: 150px;
    min-height: 50px;
  }

  & table td {
    text-align: center;
    vertical-align: middle;
  }
}

.grid-item {
  // flex: auto;
  width: 320px;
  min-width: 185px;
  margin: 0px 0 $pt-grid-size $pt-grid-size;
  overflow: hidden;

  &.wall {
    width: calc(20%);
    margin: 0;
  }

  &.zoom-0 {
    width: 240px;

    & .previewable {
      max-height: 180px;
    }
    & .previewable.portrait {
      height: 180px;
    }
  }
  &.zoom-1 {
    width: 320px;

    & .previewable {
      max-height: 240px;
    }
    & .previewable.portrait {
      height: 240px;
    }
  }
  &.zoom-2 {
    width: 480px;

    & .previewable {
      max-height: 360px;
    }
    & .previewable.portrait {
      height: 360px;
    }
  }
  &.zoom-3 {
    width: 640px;

    & .previewable {
      max-height: 480px;
    }
    & .previewable.portrait {
      height: 480px;
    }
  }
}

.previewable {
  display: block;
  line-height: 0;
  overflow: hidden;
  width: calc(100% + 40px);
  margin: -20px 0 0 -20px;
  position: relative;
  max-height: 240px;
}

.previewable.portrait {
  height: 240px;
}

.grid-item label.card-select {
  position: absolute;
  padding-left: 15px;
  margin-top: -12px;
  z-index: 9;
  opacity: 0.5;
}

.video-container {
  width: 100%;
  height: 100%;
}

video.preview {
  // height: 225px; // slows down the page
  width: 100%;
  // width: calc(100% + 40px);
  // margin: -20px 0 0 -20px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

video.preview.portrait {
  height: 100%;
  width: auto;
}

.filter-item, .operation-item {
  margin: 0 10px;
}

.edit-button {
  margin-right: 10px;
}

.tag-item {
  margin: 5px;

  a {
    color: unset;

    &:hover {
      text-decoration: none;
      color: unset;
    }
  }
}

.filter-container, .operation-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.card-section {
  padding: 10px 0 0 0;
  &.centered {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }
}

.rating-5 { background: #FF2F39; }
.rating-4 { background: $red1; }
.rating-3 { background: $orange1; }
.rating-2 { background: $sepia1; }
.rating-1 { background: $dark-gray5; }

.rating-banner {
  transform: rotate(-36deg);
  display: block;
  padding: 6px 45px;
  font-weight: 400;
  top: 14px;
  position: absolute;
  left: -46px;
  color: #fff;
  letter-spacing: 1px;
  text-size-adjust: none;
  font-size: .85714em;
  line-height: 1.6em;
  text-align: center;
}

.scene-specs-overlay {
  display: block;
  position: absolute;
  bottom: 1em;
  right: .7em;
  font-weight: 400;
  color: #f5f8fa;
  letter-spacing: -.03em;
  text-shadow: 0 0 3px #000;
}

.scene-studio-overlay {
  display: block;
  position: absolute;
  top: .7em;
  right: .7em;
  font-weight: 900;
  width: 40%;
  height: 20%;
  opacity: 0.75;
  z-index: 9;
}

.scene-studio-overlay a {
  width: 100%;
  height: 100%;
  background-size: contain;
  display: inline-block;
  background-position: right top;
  background-repeat: no-repeat;
  letter-spacing: -.03em;
  text-shadow: 0 0 3px #000;
  text-align: right;
  text-decoration: none;
  color: #f5f8fa;
}

.overlay-resolution {
  font-weight: 900;
  text-transform: uppercase;
  margin-right:.3em;
}

.scene-card {
  & .scene-specs-overlay, .rating-banner, .scene-studio-overlay {
    transition: opacity 0.5s;
  }
}

.scene-card:hover {
  & .scene-specs-overlay, .rating-banner, .scene-studio-overlay {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .scene-studio-overlay:hover {
    opacity: 0.75;
    transition: opacity 0.5s;
  }
}

.button-link {
  background-color: transparent;
  color: #48aff0;
  border-width: 0;
  cursor: pointer;
  display: inline;
  padding: 0;
}

.button-link:hover {
  text-decoration: underline;
}

.scrubber-button {
  background-color: transparent;
  color: #48aff0;
}

.scrubber-button:hover {
  text-decoration: underline;
}

#jwplayer-container {
  margin: 10px auto;
  width: 75%;
  position: relative;

  & #o-counter-container {
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  & #o-counter-container.menu-open {
    opacity: 0.75;
    transition: opacity 0.5s;
  }
}

#jwplayer-container:hover #o-counter-container {
  opacity: 0.75;
  transition: opacity 0.5s;
}

.video-js {
  width: 100%;
  height: 90vh;
}

#details-container {
  margin: 10px auto;
  width: 75%;
}

.pre {
  white-space: pre-line;
}

.logs {
  white-space: pre-wrap;
  word-break: break-all;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: smaller;
  padding-right: 10px;
  overflow-y: auto;
  max-height: 100vh;
  width: 120ch;

  .debug {
    color: lightgreen;
    font-weight: bold;
  }

  .info {
    color: white;
    font-weight: bold;
  }

  .warning {
    color: orange;
    font-weight: bold;
  }

  .error {
    color: red;
    font-weight: bold;
  }
}

span.block {
  display: block;
}

.performer.image {
  height: 50vh;
  min-height: 400px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.performer-tag-container {
  margin: 5px;
}

.performer-tag.image {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.studio.image {
  height: 100px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.no-spacing {
  padding: 0;
  margin: 0;
}

.react-photo-gallery--gallery {
  & img {
    object-fit: contain;
  }
}

#tag-list-container {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & .tag-list-row {
    margin: 10px;
    cursor: pointer;

    & .bp3-button {
      margin: 0 10px;
    }
  }

  & .tag-list-row:hover {
    text-decoration: underline;
  }
}

#parser-container {
  margin: 10px auto;
  width: 75%;

  & .inputs label {
    width: 12em;
  }
  
  & .inputs .bp3-input-group {
    width: 80ch;
  }

  & .scene-parser-results {
    overflow-x: auto;
  }
  
  & .scene-parser-row .bp3-checkbox {
    margin: 0px -20px 0px 0px;
  }
  
  & .scene-parser-row .parser-field-title input {
    width: 50ch;
  }

  & .scene-parser-row .parser-field-date input {
    width: 13ch;
  }

  & .scene-parser-row .parser-field-performers input {
    width: 20ch;
  }

  & .scene-parser-row .parser-field-tags input {
    width: 20ch;
  }

  & .scene-parser-row .parser-field-studio input {
    width: 15ch;
  }
  
  & .scene-parser-row input {
    min-width: 10ch;
  }
  
  & .scene-parser-row .bp3-form-group {
    margin-bottom: 0px;
  }
  
  & .scene-parser-row div:first-child > input {
    margin-bottom: 5px;
  }
}

#performer-page {
  margin: 10px auto;
  width: 75%;

  & .details-image-container {
    max-height: 400px;
    display: inline-block;
    margin-right: 20px;
  }

  & .performer-head {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;

    & .name-icons {
      & .not-favorite .bp3-icon {
        color: rgba(191, 204, 214, 0.5) !important;
      }

      & .favorite .bp3-icon {
        color: #ff7373 !important;
      }
    }
  }

  & .alias {
    font-weight: bold;
  }
}

.name-icons {
  margin-left: 10px;
}

#performer-details {
  & td {
    vertical-align: middle;
  }

  & td:first-child {
    width: 30ch;
  }

  & #url-field {
    line-height: 30px;
  }

  & #scrape-url-button {
    float: right;
    height: 30px;
  }
}

.zoom-slider {
  margin: auto 5px;
  width: 100px;

  & .bp3-slider {
    min-width: 100%;
  }
}

.aliases-field > label{
  font-weight: 300;
}

.scene-cover {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.collapsible-label {
  cursor: pointer;
}

.label-icon {
  margin-right: 0.3em;
  vertical-align: middle;

  & +span {
    vertical-align: middle;
  }
}

@media only screen and (max-width: 768px) {
  // collapse menu items into sidemenu
  .collapsible-navlink {
    display: none;
  }
}


.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #394b59;
  transition: left 0.5s;
  z-index: 11;
}

.sidebar.sidebar-closed {
  left: -200px;
  transition: left 0.5s;
}

// overlay menu on smaller devices
@media only screen and (min-width: 768px) {
  // hide menu button on larger devices
  .menu-button {
    display: none;
  }

  .main {
    margin-left: 200px;
    transition: margin-left 0.5s;
  }

  .sidebar {
    left: -200px;
  }
  
  .main.sidebar-closed {
    margin-left: 0px;
    transition: margin-left 0.5s;
  }
}
