.pagination {
  .btn {
    border-left: 1px solid $body-bg;
    border-right: 1px solid $body-bg;
    flex-grow: 0;
    padding-left: 15px;
    padding-right: 15px;
    transition: none;

    &.page-count {
      background-color: $card-bg;
      border-color: $card-bg;
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.center-text {
  text-align: center;
}

.zoom-slider-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;

  input[type="range"].zoom-slider {
    margin: 0;
    max-width: 6rem;
    padding-left: 0;
    padding-right: 0;

    &::-webkit-slider-thumb {
      background-color: $primary;
    }

    &::-webkit-slider-runnable-track {
      background-color: $body-bg;
    }

    &::-moz-range-thumb {
      background-color: $primary;
    }

    &::-moz-range-track {
      background-color: $body-bg;
    }
  }
}

.query-text-field-group {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.query-text-field {
  border: 0;
}

.query-text-field-clear {
  background-color: $secondary;
  color: $text-muted;
  font-size: $btn-font-size-sm;
  margin: $btn-padding-y $btn-padding-x;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 4;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $secondary;
    border-color: transparent;
    box-shadow: none;
  }
}

.saved-filter-list-menu {
  width: 300px;

  &.dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }

  .set-as-default-button {
    float: right;
    margin-right: 0.5rem;
  }

  .LoadingIndicator {
    height: auto;
    text-align: center;

    .spinner-border {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.saved-filter-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

.saved-filter-list {
  list-style: none;
  margin-bottom: 0;
  max-height: 230px;
  overflow-y: auto;
  padding-left: 0;

  .dropdown-item-container {
    display: flex;

    .dropdown-item {
      align-items: center;
      color: $text-color;
      display: inline;
      overflow-x: hidden;
      padding-left: 1.25rem;
      padding-right: 0.25rem;
      text-overflow: ellipsis;

      &:focus,
      &:hover {
        background-color: #8a9ba826;
        cursor: pointer;
      }
    }

    .btn-group {
      margin-left: auto;

      .btn {
        border-radius: 0;
      }
    }

    .delete-button {
      color: $danger;
    }
  }
}

.save-filter-button {
  color: $text-color;
}

.saved-filter-overwrite-warning {
  color: $danger;
  font-weight: bold;
}

.edit-filter-dialog .rating-stars {
  font-size: 1.3em;
  margin-left: 0.25em;
}

.rating-filter .and-divider {
  margin-left: 0.5em;
}

.edit-filter-dialog {
  .modal-header {
    align-items: center;
    padding: 0.5rem 1rem;

    .search-input {
      width: auto;
    }
  }

  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }

  .filter-tags {
    border-top: 1px solid rgb(16 22 26 / 40%);
    padding: 1rem 1rem 0 1rem;
  }

  .criterion-list {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 550px;
    overflow-y: auto;

    .pinned-criterion-divider {
      padding-bottom: 2.5rem;
    }

    .card {
      border: 1px solid rgb(16 22 26 / 40%);
      box-shadow: none;
      margin: 0 0 -1px;
      padding: 0;

      .collapse-icon {
        margin-left: 0;
      }

      .filter-item-header {
        background-color: $card-cap-bg;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        color: inherit;
        cursor: pointer;
        display: flex;
        margin-bottom: 0;
        padding: 0.75rem 1.25rem;

        &:focus {
          border-color: $primary;
          border-radius: calc(0.375rem - 1px);
          box-shadow: inset 0 0 0 0.1rem rgba(19, 124, 189);
          outline: 0;
        }
      }
    }

    .filter-item-header .btn {
      border: 0;
      padding-bottom: 0;
      padding-top: 0;
    }

    .toggle-criterion-sidebar-button {
      color: $text_color;
      visibility: hidden;
    }

    .filter-item-header:hover .toggle-criterion-sidebar-button {
      visibility: visible;
    }

    .remove-criterion-button {
      color: $danger;
    }
  }

  .edit-filter-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
}

.modifier-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modifier-options .modifier-option {
  background-color: $secondary;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  padding: 0.25em 0.6em;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: baseline;
  white-space: nowrap;

  &.selected {
    background-color: $primary;
  }
}

.filter-tags .clear-all-button {
  color: $text-color;
  // to match filter pills
  line-height: 16px;
  padding: 0;
}

.filter-button {
  position: relative;

  .fa-icon {
    margin: 0;
  }

  .badge {
    position: absolute;
    right: -3px;

    // button group has a z-index of 1
    z-index: 2;
  }
}

.filter-visible-button {
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  &:focus:not(.active):not(:hover) {
    background: none;
  }

  &:focus,
  &.active:focus {
    box-shadow: none;
  }
}

.selectable-filter ul {
  list-style-type: none;
  margin-top: 0.5rem;
  max-height: 300px;
  overflow-y: auto;
  // to prevent unnecessary vertical scrollbar
  padding-bottom: 0.15rem;
  padding-inline-start: 0;

  .unselected-object {
    opacity: 0.8;
  }

  .selected-object,
  .excluded-object,
  .unselected-object {
    cursor: pointer;
    height: 2em;
    margin-bottom: 0.25rem;

    a {
      align-items: center;
      display: flex;
      height: 2em;
      justify-content: space-between;
      outline: none;

      &:hover,
      &:focus-visible {
        background-color: rgba(138, 155, 168, 0.15);
      }

      .selected-object-label,
      .excluded-object-label {
        font-size: 16px;
      }
    }

    .include-button {
      color: $success;
    }

    .exclude-icon {
      color: $danger;
    }

    .exclude-button {
      align-items: center;
      display: flex;
      margin-left: 0.25rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      .exclude-button-text {
        color: $danger;
        display: none;
        font-size: 12px;
        font-weight: 600;
      }

      &:hover {
        background-color: inherit;
      }

      &:hover .exclude-button-text,
      &:focus .exclude-button-text {
        display: inline;
      }
    }

    .object-count {
      color: $text-muted;
      font-size: 12px;
    }
  }

  .selected-object:hover,
  .selected-object a:focus-visible,
  .excluded-object:hover,
  .excluded-object a:focus-visible {
    .include-button,
    .exclude-icon {
      color: #fff;
    }
  }
}

.tilted {
  transform: rotate(45deg);
}

.display-mode-select {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.display-mode-menu {
  .dropdown-item {
    color: #f5f8fa;
    font-size: 1rem;

    &:hover {
      background-color: rgba(138, 155, 168, 0.15);
      cursor: pointer;
    }
  }
}

.display-mode-popover {
  padding-left: 0;
  padding-right: 0;
}

.list-page {
  display: flex;
  flex-direction: row;

  .collapse-divider {
    min-height: calc(100vh - 4rem);

    &.collapsed {
      margin-left: -15px;
    }
  }

  .list-page-results {
    flex: 0 0 calc(100% - 20rem - 30px);
    max-height: calc(100vh - 4rem);
    max-width: calc(100% - 20rem - 30px);
    overflow-x: auto;
    overflow-y: hidden;
    transition: 0.3s ease;

    &.expanded {
      flex-basis: 100%;
      max-width: 100%;
    }

    .list-page-items {
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.sidebar-container {
  flex: 0 0 20rem;
  max-width: 20rem;
  overflow: hidden;
  transition: 0.3s ease;

  &.collapsed {
    max-width: 0;
  }
}

.filter-sidebar {
  max-height: calc(100vh - 4rem);
  max-width: 20rem;
  min-height: calc(100vh - 4rem);
  overflow-x: hidden;
  overflow-y: auto;
  width: 20rem;

  hr {
    background-color: $secondary;
  }

  .criterion-list {
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
  }

  .saved-filters {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    .save-filter-button {
      display: none;
    }
  }

  .criterion-list .collapse-button-container,
  .saved-filters .collapse-button-container {
    & > .collapse-button-group .btn {
      svg {
        margin-right: 0.5rem;
      }
      padding-left: 0;
    }
  }

  .criterion-list .collapse-button-container.populated .collapse-button-group {
    background-color: $dark-text;
  }

  .criterion-list .collapse-button-container {
    border-top: 1px solid $secondary;

    &:last-child {
      border-bottom: 1px solid $secondary;
    }
  }

  .collapse-button-group {
    padding: 0.25rem 0;
    width: 100%;

    button.collapse-button {
      text-align: left;
    }
  }

  .hide-criterion-button {
    color: $text-muted;
    visibility: hidden;
  }

  .remove-criterion-button {
    color: $danger;
  }

  .criterion-editor {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .edit-filter-button,
  .save-filter-button {
    margin-bottom: 0.5rem;
    width: 100%;

    svg {
      margin-right: 0.5rem;
    }
  }

  .filter-criteria-list ul {
    list-style-type: none;
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: auto;
    // to prevent unnecessary vertical scrollbar
    padding-bottom: 0.15rem;
    padding-inline-start: 0;

    .unselected-object {
      opacity: 0.8;
    }

    .filter-criteria-list-item {
      cursor: pointer;
      margin-bottom: 0.25rem;
      min-height: 2em;

      a {
        align-items: center;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        min-height: 2em;
        outline: none;
        padding: 0.25rem;

        &:hover,
        &:focus-visible {
          background-color: rgba(138, 155, 168, 0.15);
        }
      }

      .include-button {
        color: $success;
      }

      .remove-criterion-button {
        color: $danger;
      }
    }
  }
}

.list-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;

  // set z-index above collapse button
  // position must be relative for this
  position: relative;
  z-index: 1;

  .list-header-left {
    flex-basis: 33%;
    justify-content: flex-start;
    max-width: 33%;
  }

  .list-header-center {
    flex-basis: 33%;
    justify-content: center;
    max-width: 33%;
  }

  .list-header-right {
    flex-basis: 34%;
    justify-content: flex-end;
    max-width: 34%;
  }

  .query-text-field-group {
    width: 20rem;
  }

  .filter-button {
    margin-left: -15px;
    margin-right: 15px;
  }

  .select-none {
    color: $danger;
  }

  & > div {
    align-items: center;
    display: flex;

    & > div {
      margin-right: 0.5rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .list-header {
    flex-wrap: wrap;
    row-gap: 0.5rem;

    .list-header-left {
      display: none;
    }

    .list-header-center {
      flex-basis: 100%;
      max-width: 100%;
      order: 3;
    }

    .list-header-right {
      flex-basis: 100%;
      justify-content: center;
      max-width: 100%;
      order: 2;
    }
  }

  .expanded .list-header {
    .list-header-left {
      display: flex;
    }

    .list-header-right {
      justify-content: flex-end;
    }

    .list-header-left,
    .list-header-right {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}
@include media-breakpoint-down(xs) {
  .list-page-results .list-header {
    .list-header-left,
    .list-header-center,
    .list-header-right {
      flex-basis: 100%;
      justify-content: center;
      max-width: 100%;
    }
  }
}

.table-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  max-height: 78dvh;
  min-width: min-content;
  overflow-x: auto;
  position: relative;

  table {
    margin: 0;

    thead {
      background-color: #202b33;
      position: sticky;
      top: 0;
      z-index: 100;
    }
  }

  .column-select {
    margin: 0;
    padding: 7px;
  }

  .comma-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 4px 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;

    li {
      display: inline;
    }

    li::after {
      content: ", ";
    }

    li:last-child::after {
      content: "";
    }
  }

  .comma-list:hover {
    background: #28343c;
    border: 1px solid #414c53;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    display: block;
    height: auto;
    margin-left: -0.4rem;
    margin-top: -0.9rem;
    max-width: 40rem;
    overflow: hidden;
    padding: 0.1rem 0.5rem;
    position: absolute;
    top: auto;
    white-space: normal;
    width: max-content;
    z-index: 100;
  }

  .comma-list li .ellips-data:hover {
    max-width: fit-content;
  }

  td {
    position: relative;
    text-align: left;
    white-space: nowrap;

    .ellips-data {
      display: block;
      max-width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .star-rating-number {
      display: none;
    }

    a {
      font-weight: 600;
      white-space: nowrap;
    }
  }

  td.select-col {
    text-align: center;
  }

  .table thead th {
    border: none;
    white-space: nowrap;
  }

  tr {
    border-collapse: collapse;
  }

  .date-head {
    width: 97px;
  }
}

.table-list tbody tr:hover {
  background-color: #2d3942;
}

.table-list a {
  color: $text-color;
}

.table-list .table-striped td,
.table-list .table-striped th {
  font-size: 1rem;
  vertical-align: middle;

  h5,
  h6 {
    font-size: 1rem;
  }

  &:first-child {
    border-left: none;
  }
}

.save-filter-dialog {
  .modal-footer {
    justify-content: space-between;

    & > div {
      display: flex;
      margin: inherit;

      & > .btn {
        margin: 0.25rem;
      }
    }
  }

  .existing-filter-list {
    list-style: none;
    margin-bottom: 0;
    max-height: 230px;
    overflow-y: auto;
    padding-left: 0;

    .btn {
      text-align: left;
      width: 100%;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
