.pagination {
  .btn {
    border-left: 1px solid $body-bg;
    border-right: 1px solid $body-bg;
    flex-grow: 0;
    padding-left: 15px;
    padding-right: 15px;
    transition: none;

    &.page-count {
      padding-right: 5px;
    }

    &.page-count-dropdown {
      padding-left: 5px;
    }

    &:first-child {
      border-left: none;
      border-right: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  .page-count-container .btn {
    border-radius: 0;
  }
}

.center-text {
  text-align: center;
}

input[type="range"].zoom-slider {
  height: 100%;
  margin: 0;
  max-width: 60px;
  padding-left: 0;
  padding-right: 0;
}

.query-text-field-group {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.query-text-field {
  border: 0;
  width: 50%;
}

.query-text-field-clear {
  background-color: $secondary;
  color: $text-muted;
  font-size: $btn-font-size-sm;
  margin: $btn-padding-y $btn-padding-x;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 4;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $secondary;
    border-color: transparent;
    box-shadow: none;
  }
}

.saved-filter-list-menu {
  width: 300px;

  &.dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }

  .set-as-default-button {
    float: right;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: auto;
  }

  .LoadingIndicator {
    height: auto;
    text-align: center;

    .spinner-border {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.saved-filter-list {
  list-style: none;
  margin-bottom: 0;
  max-height: 230px;
  overflow-y: auto;
  padding-left: 0;

  .dropdown-item-container {
    display: flex;

    .dropdown-item {
      align-items: center;
      display: inline;
      overflow-x: hidden;
      padding-left: 1.25rem;
      padding-right: 0.25rem;
      text-overflow: ellipsis;
    }

    .btn-group {
      margin-left: auto;

      .btn {
        border-radius: 0;
      }
    }

    .delete-button {
      color: $danger;
    }
  }
}

.edit-filter-dialog .rating-stars {
  font-size: 1.3em;
  margin-left: 0.25em;
}

.rating-filter .and-divider {
  margin-left: 0.5em;
}

.edit-filter-dialog {
  .modal-header {
    align-items: center;
    padding: 0.5rem 1rem;

    .search-input {
      width: auto;
    }
  }

  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }

  .filter-tags {
    border-top: 1px solid rgb(16 22 26 / 40%);
    padding: 1rem 1rem 0 1rem;
  }

  .criterion-list {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 550px;
    overflow-y: auto;

    .pinned-criterion-divider {
      padding-bottom: 2.5rem;
    }

    .card {
      border: 1px solid rgb(16 22 26 / 40%);
      box-shadow: none;
      margin: 0 0 -1px;
      padding: 0;

      .collapse-icon {
        margin-left: 0;
      }

      .filter-item-header {
        background-color: $card-cap-bg;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        color: inherit;
        cursor: pointer;
        display: flex;
        margin-bottom: 0;
        padding: 0.75rem 1.25rem;

        &:focus {
          border-color: $primary;
          border-radius: calc(0.375rem - 1px);
          box-shadow: inset 0 0 0 0.1rem rgba(19, 124, 189);
          outline: 0;
        }
      }
    }

    .filter-item-header .btn {
      border: 0;
      padding-bottom: 0;
      padding-top: 0;
    }

    .pin-criterion-button {
      color: $text_color;

      &:hover svg {
        transform: rotate(0);
      }
    }

    .remove-criterion-button {
      color: $danger;
    }
  }

  .edit-filter-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
}

.modifier-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modifier-options .modifier-option {
  background-color: $secondary;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  padding: 0.25em 0.6em;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: baseline;
  white-space: nowrap;

  &.selected {
    background-color: $primary;
  }
}

.filter-tags .clear-all-button {
  color: $text-color;
  // to match filter pills
  line-height: 16px;
  padding: 0;
}

.filter-button {
  .fa-icon {
    margin: 0;
  }

  .badge {
    position: absolute;
    right: -3px;

    // button group has a z-index of 1
    z-index: 2;
  }
}

.filter-visible-button {
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  &:focus:not(.active):not(:hover) {
    background: none;
  }

  &:focus,
  &.active:focus {
    box-shadow: none;
  }
}

.selectable-filter ul {
  list-style-type: none;
  margin-top: 0.5rem;
  max-height: 300px;
  overflow-y: auto;
  // to prevent unnecessary vertical scrollbar
  padding-bottom: 0.15rem;
  padding-inline-start: 0;

  .unselected-object {
    opacity: 0.8;
  }

  .selected-object,
  .excluded-object,
  .unselected-object {
    cursor: pointer;
    height: 2em;
    margin-bottom: 0.25rem;

    a {
      align-items: center;
      display: flex;
      height: 2em;
      justify-content: space-between;
      outline: none;

      &:hover,
      &:focus-visible {
        background-color: rgba(138, 155, 168, 0.15);
      }

      .selected-object-label,
      .excluded-object-label {
        font-size: 16px;
      }
    }

    .include-button {
      color: $success;
    }

    .exclude-icon {
      color: $danger;
    }

    .exclude-button {
      align-items: center;
      display: flex;
      margin-left: 0.25rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      .exclude-button-text {
        color: $danger;
        display: none;
        font-size: 12px;
        font-weight: 600;
      }

      &:hover {
        background-color: inherit;
      }

      &:hover .exclude-button-text,
      &:focus .exclude-button-text {
        display: inline;
      }
    }

    .object-count {
      color: $text-muted;
      font-size: 12px;
    }
  }

  .selected-object:hover,
  .selected-object a:focus-visible,
  .excluded-object:hover,
  .excluded-object a:focus-visible {
    .include-button,
    .exclude-icon {
      color: #fff;
    }
  }
}

.tilted {
  transform: rotate(45deg);
}

.table-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  max-height: 78dvh;
  min-width: min-content;
  overflow-x: auto;
  position: relative;

  table {
    margin: 0;

    thead {
      background-color: #202b33;
      position: sticky;
      top: 0;
      z-index: 100;
    }

    td:first-child {
      padding: 0;
    }

    label {
      margin: 0;
      padding: 0.5rem;
    }
  }

  .column-select {
    margin: 0;
    padding: 7px;
  }

  .select-col {
    width: 20px;
  }

  .comma-list {
    list-style: none;
    margin: 0;
    padding: 4px 2px;

    li {
      display: inline;
    }

    li::after {
      content: ", ";
    }

    li:last-child::after {
      content: "";
    }
  }

  .comma-list.overflowable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
  }

  .comma-list.overflowable:hover {
    background: #28343c;
    border: 1px solid #414c53;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    display: block;
    height: auto;
    margin-left: -0.4rem;
    margin-top: -0.9rem;
    max-width: 40rem;
    overflow: hidden;
    padding: 0.1rem 0.5rem;
    position: absolute;
    top: auto;
    white-space: normal;
    width: max-content;
    z-index: 100;
  }

  .comma-list.overflowable li .ellips-data:hover {
    max-width: fit-content;
  }

  td {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 500;
    position: relative;
    text-align: left;
    white-space: nowrap;

    .ellips-data {
      display: block;
      max-width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .star-rating-number {
      display: none;
    }

    a {
      font-weight: 600;
      white-space: nowrap;
    }
  }

  td.select-col {
    text-align: center;
  }

  .table thead th {
    border: none;
    white-space: nowrap;
  }

  tr {
    border-collapse: collapse;
  }

  .date-head {
    width: 97px;
  }
}

.table-list tbody tr:hover {
  background-color: #2d3942;
}

.table-list a {
  color: $text-color;
}

.table-list .table-striped td,
.table-list .table-striped th {
  font-size: 1rem;
  vertical-align: middle;

  h5,
  h6 {
    font-size: 1rem;
  }

  &:first-child {
    border-left: none;
  }
}
