.pagination {
  .btn {
    border-left: 1px solid $body-bg;
    border-right: 1px solid $body-bg;
    flex-grow: 0;
    padding-left: 15px;
    padding-right: 15px;
    transition: none;
  }
}

.zoom-slider {
  max-width: 60px;
  padding-left: 0;
  padding-right: 0;
}
