.rating-stars {
  display: inline-flex;
  vertical-align: middle;

  button {
    font-size: inherit;
    margin-right: 1px;
    padding: 0;
    position: relative;

    &:hover {
      background-color: inherit;
    }

    &:disabled {
      background-color: inherit;
      opacity: inherit;
    }

    &.star-fill-0 .filled-star {
      width: 0;
    }

    &.star-fill-10 .filled-star {
      width: 10%;
    }

    &.star-fill-20 .filled-star {
      width: 20%;
    }

    &.star-fill-25 .filled-star {
      width: 35%;
    }

    &.star-fill-30 .filled-star {
      width: 30%;
    }

    &.star-fill-40 .filled-star {
      width: 40%;
    }

    &.star-fill-50 .filled-star {
      width: 50%;
    }

    &.star-fill-60 .filled-star {
      width: 60%;
    }

    &.star-fill-75 .filled-star {
      width: 65%;
    }

    &.star-fill-70 .filled-star {
      width: 70%;
    }

    &.star-fill-80 .filled-star {
      width: 80%;
    }

    &.star-fill-90 .filled-star {
      width: 90%;
    }

    &.star-fill-100 .filled-star {
      width: 100%;
    }

    .filled-star {
      overflow: hidden;
      position: absolute;
    }
  }

  .unsetting {
    color: gold;
  }

  .setting {
    color: gold;
  }

  .set {
    color: gold;
  }
}

.star-rating-number {
  font-size: 1rem;
  margin: auto 0.5rem;
}

.rating-number {
  .fa-icon {
    color: gold;
    margin-left: 0;
  }

  .edit-rating-button {
    font-size: 0.75rem;
  }

  &.disabled {
    align-items: center;
    display: inline-flex;
  }
}
