.migration-notes {
  margin: 1rem;

  > div {
    background-color: darken($color: $card-bg, $amount: 3);
    border-radius: 3px;
    padding: 16px;
  }
}

.migrate-loading-status {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  width: 100%;

  .progress {
    width: 60%;
  }

  h4 span {
    margin-left: 0.5rem;
  }
}

.setup-wizard {
  #blobs > div {
    margin-bottom: 1rem;
    margin-top: 0;
  }
}
