#scene-duplicate-checker {
  .scene-path {
    font-size: 0.88em;
  }

  .filter-container {
    margin: 0;
  }

  .separator {
    height: 50px;
  }

  .form-group .row {
    align-items: center;
  }
}
