<div class="ui inverted center aligned stackable vertically divided grid">
  <div class="one column row">
    <div class="ui inverted statistics column">
      <div class="statistic">
        <div class="value">
          {{stats?.scene_count}}
        </div>
        <div class="label">
          Scenes
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{stats?.gallery_count}}
        </div>
        <div class="label">
          Galleries
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{stats?.performer_count}}
        </div>
        <div class="label">
          Performers
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{stats?.studio_count}}
        </div>
        <div class="label">
          Studios
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{stats?.tag_count}}
        </div>
        <div class="label">
          Tags
        </div>
      </div>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
    </div>
  </div>
</div>
