.Lightbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 1040;

  .fa-icon {
    path {
      fill: white;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    height: 4rem;
    flex-shrink: 0;

    &-indicator {
      display: flex;
      flex-direction: column;
      margin-left: 49%;
      margin-right: auto;
      text-align: center;
    }

    .fa-icon {
      width: 1.5rem;
      height: 1.5rem
    }
  }

  &-display {
    display: flex;
    position: relative;
    height: 100%;
    margin-bottom: 2rem;
    justify-content: space-between;
  }

  &-carousel {
    display: flex;
    height: 100%;
    position: absolute;
    transition: left 400ms;

    &-instant {
      transition-duration: 0ms;
    }

    &-image {
      display: flex;
      width: 100vw;
      height: 100%;
      content-visibility: auto;

      picture, img {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
      }
    }
  }

  &-navbutton {
    z-index: 1045;

    .fa-icon {
      width: 4rem;
      height: 4rem;
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      filter: drop-shadow(2px 2px 2px black);
    }
  }

  &-nav {
    height: 10rem;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0 auto 2rem 0;
    padding: 0 10rem;
    position: relative;
    transition: left 400ms;

    @media (max-height: 800px) {
      display: none;
    }

    &-selected {
      box-shadow: 0 0 0 6px white;
    }

    &-image {
      height: 100%;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}
