<app-jwplayer
  (seeked)="onSeeked()"
  (time)="onTime($event)"
  #jwplayer>
</app-jwplayer>

<div class="ui container segments">
  <div class="ui inverted top attached segment">

    <app-scene-detail-scrubber
      #scrubber
      [scene]="scene"
      (seek)="scrubberSeek($event)"
      (scrolled)="scrubberScrolled()">
    </app-scene-detail-scrubber>

    <app-scene-detail-marker-manager
      #markerManager
      [scene]="scene"
      [player]="jwplayer.player">
    </app-scene-detail-marker-manager>
  </div>

  <div class="ui inverted attached clearing segment">
    <h1 class="ui inverted left floated marginless header">
      {{scene?.title || 'No Title'}}
      <div *ngIf="!!scene?.date" class="sub header">{{scene?.date | date:"MM/dd/yy"}}</div>
      <div class="sub header">{{scene?.file.size | fileSize}}</div>
    </h1>
    <button (click)="onClickEdit()" class="ui right floated button">Edit</button>

    <div *ngIf="!!scene">
      <a *ngIf="!!scene.studio"
        [routerLink]="['/studios', scene.studio.id]"
        [style.background-image]="'url(' + scene.studio.image_path + ')'"
        style="width: 100%; height: 100px; display: inline-block; background-size: contain; background-position: center; background-repeat: no-repeat; filter: drop-shadow( 5px 5px 4px #aaa );">
      </a>
      <span *ngIf="!scene.studio">No Studio</span>
    </div>
  </div>

  <div *ngIf="!!scene?.details && scene?.details.length != 0" class="ui inverted attached segment">
    <h3>Details</h3>
    <p class="pre">{{scene.details}}</p>
  </div>

  <div *ngIf="scene?.performers.length > 0" class="ui inverted attached segment">
    <h3>Performers</h3>
    <div class="ui four centered stackable link cards">
      <app-performer-card *ngFor="let performer of scene?.performers"
      [performer]="performer"
      [ageFromDate]="scene.date">
      </app-performer-card>
    </div>
  </div>

  <div *ngIf="scene?.tags.length > 0" class="ui inverted attached segment">
    <h3>Tags</h3>
    <div class="ui labels">
      <a *ngFor="let tag of scene?.tags" class="ui label">{{tag.name}}</a>
    </div>
  </div>

  <div *ngIf="!!scene?.gallery" class="ui inverted attached segment">
    <h3 class="ui header">
      Gallery
    </h3>
    <app-gallery-preview *ngIf="!!scene?.gallery" [gallery]="scene?.gallery"></app-gallery-preview>
  </div>

  <div class="ui inverted bottom attached segment">
    <div class="ui inverted list">
      <a class="clippable item" title="Click to copy" ngxClipboard [cbContent]="scene?.checksum">
        <i class="privacy icon"></i>
        <div class="content">
          <div class="header">Checksum</div>
          <div class="description">{{scene?.checksum}}</div>
        </div>
      </a>
      <a class="clippable item" title="Click to copy" ngxClipboard [cbContent]="scene?.path">
        <i class="folder open outline icon"></i>
        <div class="content">
          <div class="header">Path</div>
          <div class="description">{{scene?.path}}</div>
        </div>
      </a>
      <a *ngIf="!!scene?.url" class="clippable item" title="Click to copy"  ngxClipboard [cbContent]="scene?.url">
        <i class="server icon"></i>
        <div class="content">
          <div class="header">URL</div>
          <div class="description">{{scene?.url}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
