.manual {
  background-color: #30404d;
  color: $text-color;

  .close {
    color: $text-color;
  }

  .manual-container {
    padding-left: 1px;
    padding-right: 5px;
  }

  .modal-header,
  .modal-body {
    background-color: #30404d;
    color: $text-color;
    overflow-y: hidden;
  }
}

.manual .manual-content {
  max-height: calc(100vh - 10rem);
  overflow-y: auto;

  .manual-page {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 16px;
      margin-top: 24px;
    }

    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child,
    & > h5:first-child,
    & > h6:first-child {
      margin-top: 0;
    }

    h1,
    h2 {
      padding-bottom: 0.3em;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.83rem;
    }

    h3 {
      font-size: 1.67rem;
    }

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1.33rem;
    }

    code {
      background-color: darken($color: #30404d, $amount: 3);
      color: $text-color;
      padding: 0.2em 0.4em;
    }

    blockquote {
      p {
        margin-bottom: 0;
        vertical-align: middle;
      }
    }

    blockquote,
    pre {
      code {
        padding: 0;
      }

      background-color: darken($color: #30404d, $amount: 3);
      border-radius: 3px;
      padding: 16px;
    }

    pre {
      font-size: 85%;
      line-height: 1.45;
      overflow: auto;
    }

    table {
      display: block;
      margin-bottom: 16px;
      overflow: auto;
      width: 100%;

      tr {
        border-top: 1px solid darken($color: #201d1a, $amount: 3);
      }

      tr:nth-child(2n) {
        background-color: darken($color: #30404d, $amount: 2);
      }

      td,
      th {
        border: 1px solid darken($color: #201d1a, $amount: 3);
        padding: 6px 13px;
      }
    }
  }

  .indent-1 {
    padding-left: 2rem;
  }
}

@media (max-width: 992px) {
  .manual .modal-body {
    overflow-y: auto;

    .manual-content {
      max-height: inherit;
      overflow-y: hidden;
    }
  }
}
