.details-image-container {
  margin: 0;
  padding: 0;
  display: flex;
  height: calc(100vh - 50px); // 50px for navbar
  align-items: center;
  justify-content: center;

  & img.performer {
    height: 98%;
    max-width: 98%;
    object-fit: cover;
    box-shadow: 0px 0px 10px black;
  }

  & img.studio {
    height: 50%;
    max-width: 50%;
    object-fit: contain;
    box-shadow: 0px 0px 10px black;
  }

  & img.dvd {
    height: 50%;
    max-width: 50%;
    object-fit: contain;
    box-shadow: 0px 0px 10px black;
  }

}

.details-detail-container {
  padding: 10px !important;

  & .bp3-navbar {
    margin: 0 0 10px 0;
    z-index: 1;

    & .bp3-button {
      margin: 0 10px;
    }

    & .bp3-file-input {
      width: 190px;

      & input {
        min-width: unset;
        max-width: 190px;
      }
    }
  }

  & .bp3-button.favorite .bp3-icon {
    color: #ff7373 !important
  }
}

.dialog-content {
  padding: 10px;

  & .bp3-popover-target {
    width: 100%;
  }
}