<a [routerLink]="['/scenes', scene.id]" class="image previewable">
  <video class="preview" loop [poster]="scene.paths.screenshot" #videoTag>
    <source [src]="scene.paths.preview" />
  </video>
</a>
<div class="content">
  <div class="header">{{scene.title || scene.path | filename}}</div>
  <div *ngIf="scene.rating || scene.date" class="meta">
    <span *ngIf="scene.date" class="date">{{scene.date}}</span>
    <sui-rating *ngIf="scene.rating" class="ui tiny rating" [(ngModel)]="scene.rating" [maximum]="5" [isReadonly]="true"></sui-rating>
  </div>
  <div class="meta">{{scene?.file.size | fileSize}}</div>
  <div class="meta">{{scene.file.width}} x {{scene.file.height}} | {{scene?.file.framerate || '?'}} fps | {{(scene?.file.bitrate / 1000000) | number:'1.0-2'}} megabits per second</div><!-- TODO make bitrate a pipe -->
  <div *ngIf="scene.details; else descriptionEmptyBlock" class="description">
    <p class="pre">{{scene.details | truncate : 1000 : '... (continued)'}}</p>
  </div>
  <ng-template #descriptionEmptyBlock>No details</ng-template>
  <div class="extra">
    <a *ngIf="scene.studio"
      [routerLink]="['/studios', scene.studio.id]"
      [style.background-image]="'url(' + scene.studio.image_path + ')'"
      style="width: 100%; height: 75px; background-size: contain; display: inline-block; background-position: right; background-repeat: no-repeat;">
    </a>
    <span *ngIf="!scene.studio">No Studio</span>
  </div>
  <div class="extra content">
    <div class="ui tag labels">
      <a *ngFor="let tag of scene.tags"
        [routerLink]="['/tags', tag.id]"
        class="ui label">
          {{tag.name}}
        </a>
      <span *ngIf="!scene.tags || scene.tags.length == 0">No Tags</span>
    </div>
  </div>
</div>