.bp3-form-group .bp3-popover-target {
  width: 100%;
}

.bp3-html-table, .form-container {
  & .bp3-popover-target, & textarea {
    width: 100%;
  }

  & textarea {
    min-height: 250px;
    resize: vertical;
  }
}

form .columns.is-gapless > .column {
  margin: 5px 0;
  padding: 0 10px !important;
}

form .columns {
  margin-bottom: 5px !important;
}

form .buttons-container button {
  margin-left: 10px;
}