/* You can add global styles to this file, and also import other style files */

body {
  background-color: #000000;
}

.ui.inverted.form input {
  background: #333 !important;
  color: #FFF !important;
}

.ui.selection.dropdown {
  background: #333;
  color: #FFF;
}

.ui.selection.dropdown .menu > .item {
  border-top: 1px solid #555;
  background: #333;
  color: #FFF;
}

.simple-modal-container {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 15%;
  left: 10%;
  z-index: 1000;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #333;
}
.simple-modal-container.small {
  width: 50%;
  height: 80%;
  left: 25%;
}

.simple-modal-content {
  overflow-y: scroll;
  margin: 20px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
}

.ui.popup {
  max-width: 350px !important;
}

.bold {
  font-weight: bold;
}

.main.container {
  margin-top: 5em;
  margin-bottom: 2em;
}

#main-pagination pagination-template {
  margin: 2em 0 1em 0;
}

.pre {
  white-space: pre-line;
}

.previewable {
  line-height: 0;
  overflow: hidden;
}

video.preview {
  width: 100%;
  /*height: 200px;*/
  object-fit: cover;
}

.wall-overlay {
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  transition: transform .5s ease-in-out;
}
.visible {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
.hidden {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.visible-unanimated {
  opacity: 1;
}
.hidden-unanimated {
  opacity: 0;
}

.double-scale {
  position: absolute;
  z-index: 2;
  transform: scale(2);
  background-color: black;
}

.double-scale img {
  opacity: 0;
}

.scene-wall-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .5s;
}

.scene-wall-item-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.scene-wall-item-text-container {
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.65));
  overflow: hidden;
}

.scene-wall-item-text-container span {
  text-align: center;
  bottom: 50%;
  position: absolute;
  width: 100%;
  font-weight: 900;
  font-size: small;
}

.scene-wall-item-blur {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  /*background-color: rgba(255, 255, 255, 0.75);*/
  /*backdrop-filter: blur(5px);*/
  z-index: -1;
}

/* The first and last rows (excluding the corners) */
.wall.column:nth-last-child(n+2):nth-last-child(-n+4):not(:nth-child(5n+6)):not(:nth-child(5n+0)) div { transform-origin: bottom; }
.wall.column:nth-child(n+2):nth-child(-n+4):not(:nth-child(5n+6)):not(:nth-child(5n+0)) div { transform-origin: top; }
/* The middle */
.wall.column:nth-child(5n+0) div { transform-origin: center right; }
.wall.column:nth-child(5n+6) div { transform-origin: center left; }
/* The bottom left and bottom right corners */
.wall.column:nth-last-child(1):nth-child(5n+0) div { transform-origin: bottom right; }
.wall.column:nth-last-child(5):nth-child(5n+6) div { transform-origin: bottom left; }
/* The top left and top right corners */
.wall.column:nth-child(5) div { transform-origin: top right !important; }
.wall.column:nth-child(1) div { transform-origin: top left !important; }

video.wall.item, img.wall.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wall.column {
  padding: 0 !important;
  line-height: 0;
}

.wall.grid {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
}

.wall .grid {
  margin: 0;
}

.performer.image {
  height: 450px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

@media only screen and (min-width: 1920px) {
  .performer.image {
    height: 650px;
  }
}

.studio.image {
  height: 100px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.gallery.image {
  height: 450px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.gallery.small.image {
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.glass {
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: white;
  filter: blur(1px);
  opacity: 0.95;
}

app-scene-list-item .image {
  width: 475px !important;
}

app-scene-list-item video.preview {
  width: 100%;
  height: 267px;
  object-fit: cover;
  margin: auto 0 !important; /* to center vertically */
  cursor: pointer;
}

app-gallery-preview {
  width: 100%;
  cursor: pointer;
}

[hidden] { display: none !important; }

.marginless {
  margin: 0 !important;
}

app-list-filter .segment {
  margin-top: -14px !important;
}

/* TODO: Hack to hide no results on sui-search */
sui-search div.message.empty {
  display: none;
}

/* TODO: Hack for JWPlayer 8 chapter marker offsets */
.jw-slider-time .jw-cue {
  margin-left: -5.5px;
}



// Dark theme

.ui.button, .ui.basic.button {
  :not(.primary, .negative) {
    background: #333;
    color: #EEE !important;
  }
  &.active {
    background: #555 !important;
  }
  &:hover {
    background: #555 !important;
    color: #EEE !important;
  }
}

.ui.form.inverted textarea {
  background-color: #333;
  color: #EEE;
}

.ui.segments:not(.horizontal)>.segment:first-child {
  border-top: 1px solid #555;
}

.ui.menu .ui.dropdown .menu > .item {
  color: unset !important;
}

.ui.dropdown .menu {
  background: #555;
  > .item {
    color: #EEE !important;
  }
}

sui-select.ui.dropdown {
  color: #FFF;
  background-color: #333;
}

// rating

.ui.rating .icon {
  background: unset !important;
  color: rgba(100,100,100,.85) !important;
}

.ui.rating .selected.icon, .ui.rating .active.selected.icon {
  background: unset !important;
  color: rgba(150,150,150,.85) !important;
}

.ui.rating .active.icon {
  background: unset !important;
  color: rgba(255,255,255,.85) !important;
}

// items

.ui.dark.items > .dark.item, .ui.dark.item {
  border-bottom: 1px solid #555;
  color: #EEE;
}

.ui.dark.items > .dark.item .icon {
  color: #EEE;
}

.ui.dark.items > .dark.item .meta {
  color: #EEE;
}

.ui.dark.items > .dark.item .extra {
  color: #EEE;
}

.ui.dark.items > .dark.item > .content > .header {
  color: #EEE;
}

.ui.dark.items > .dark.item > .content > .ui.header .sub.header {
  color: #AAA;
}

.ui.dark.items > .dark.item > .content > .description {
  color: #EEE;
}

// Cards

.ui.dark.cards > .dark.card, .ui.dark.card {
  background: #1b1c1d;
  border: 1px solid #555;
  box-shadow: 0px 1px 3px 0px #000, 0px 0px 0px 1px #000;
  color: #EEE;
}

.dark.card .icon {
  color: #555 !important;
}

.ui.dark.card .item .meta {
  color: #EEE;
}

.ui.dark.card {
  background: #1b1c1d;
  color: #EEE;
}

.ui.dark.cards > .dark.card > .content > a.header, .ui.dark.card > .content > a.header {
  color: white;
}

.ui.cards > .card .meta, .ui.card .meta {
  font-size: 1em;
  color: #555;
}

.ui.dark.cards > .dark.card > .content > .header, .ui.dark.card > .content > .header {
  color: white;
}

.ui.dark.cards > .dark.card > .content > .description, .ui.dark.card > .content > .description {
  clear: both;
  color: #EEE;
}

.ui.dark.cards > .dark.card > .content > a.header:hover, .ui.dark.card > .content > a.header:hover {
  color: rgba(0, 0, 0, .8);
}

.ui.dark.cards > .dark.card > .extra,
.ui.dark.card > .extra {
  border-top: 1px solid #555 !important;
  color: inherit;
}