.scrubber-wrapper {
  position: relative;
  overflow: hidden;
  margin: 5px 0;
}

#scrubber-back {
  float: left;
}

#scrubber-forward {
  float: right;
}

.scrubber-button {
  width: 1.5%;
  height: 100%;
  line-height: 120px;
  padding: 0;
  text-align: center;
  border: 1px solid #555;
  font-weight: 800;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
}

.scrubber-content {
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
  cursor: -webkit-grab;
  height: 120px;
  width: 96%;
  margin: 0 0.5%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.scrubber-content.dragging {
  cursor: -webkit-grabbing;
}

.scrubber-tags-background {
  background-color: #555;
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
}

#scrubber-position-indicator {
  background-color: #CCC;
  width: 100%;
  left: -100%;
  height: 20px;
  z-index: 0;
  position: absolute;
}

#scrubber-current-position {
  background-color: #FFF;
  width: 2px;
  height: 30px;
  left: 50%;
  z-index: 100;
  position: absolute;
}

.scrubber-viewport {
  position: static;
  height: 100%;
  overflow: hidden;
}

.scrubber-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 333ms ease-out;
}

.scrubber-tags {
  height: 20px;
  position: relative;
  margin-bottom: 10px;
}

.scrubber-tag {
  position: absolute;
  background-color: #000;
  font-size: 10px;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
.scrubber-tag:hover {
  z-index: 1;
  background-color: #444;
}
.scrubber-tag:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-top: solid 5px #000;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.scrubber-item {
  position: absolute;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  font-size: 10px;
}

.scrubber-item span {
  display: inline-block;
  align-self: flex-end;
  width: 100%;
}