.movie-card {
  width: 240px;

  @media (max-width: 576px) {
    width: 100%;
  }

  &.card {
    padding: 0 0 1rem;
  }

  &-image {
    object-fit: contain;
    width: 100%;
  }

  .movie-scene-number {
    text-align: center;
  }

  &__details {
    margin-bottom: 1rem;
  }
}

.movie-images {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;

  .movie-image-container {
    box-shadow: none;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

#movie-page .rating-number .text-input {
  width: auto;
}
