<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>stash</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleTypeIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>cc.stashapp.stash</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>LSUIElement</key>
	<string>1</string>
</dict>
</plist>
